# For loop
- A for loop iA for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).s used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

-A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
syntax 

for var in iterable:
    stat1
    stat2
    stat3
stat4

In [2]:
# How to identify if any data type is iterable?

1. the len function should work

2. print(dir(object)) ----> __iter__

SyntaxError: invalid syntax (652683902.py, line 3)

In [17]:
a = {'a' : 1 , 'b':45}

len(a)

2

In [1]:
a = ( 1 , 2)

len(a)

2

In [2]:
a = [1 , 2]

len(a)

2

In [19]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [3]:
a = 'abc' #strings are iterable objects
print(len(a))
for char in a:
    print('Hello world')

3
Hello world
Hello world
Hello world

In [ ]:
for iteration 1 the char = a

Hello world

for iteration 2 the char = b

Hello world

for iteration 3 the char = c

Hello world

In [10]:
a=[0,1,2,3,4,5,6,7,8,9,10]
print(a[0:9])

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
a = 'abc'

for i in a:
    print(i, 'Hello world')

a Hello world
b Hello world
c Hello world

In [3]:
for iteration 1 the char = a

a Hello world

for iteration 2 the char = b

b Hello world

for iteration 3 the char = c

c Hello world

SyntaxError: invalid syntax (1099867918.py, line 1)

In [5]:
print(10,20)

10 20

In [4]:
a = ['abc' , 'xyz']
print(len(a))
for ele in a:
    print(ele , 'Hello world')

2
abc Hello world
xyz Hello world

In [5]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
for ele in a:
    print(ele , 'Hello world')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world
10 Hello world

In [6]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
for ele in a:
    print(ele * 2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2
4
6
8
10
12
14
16
18
20

In [7]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
for i in a:
    print(f"2  *  {i}  =  {i*2}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [33]:
#instead of manually typing 
a = [1,2,3,4,5,6,7,8,9,10]

n = eval(input('Enter a number : '))

for i in a:
    print(f"{n}    *    {i}   =    {i*n}")

Enter a number :  7

7    *    1   =    7
7    *    2   =    14
7    *    3   =    21
7    *    4   =    28
7    *    5   =    35
7    *    6   =    42
7    *    7   =    49
7    *    8   =    56
7    *    9   =    63
7    *    10   =    70

In [44]:
# e_list is used to create list

a = [23,43,564,23,23,54,56]
e_list = []

for i in a:
    e_list.append(i * 2)

print(e_list)

[46, 86, 1128, 46, 46, 108, 112]

In [1]:
# e_list is used to create list

a = [23,43,564,23,23,54,56]
e_list = []

for i in a:
    e_list.append(i * 2)
print(e_list)

[46, 86, 1128, 46, 46, 108, 112]

In [16]:
a = [23,43,564,23,23,54,56]
e_list = []

for i in a:
    if i%2 == 0:
        e_list.append(i)

print(e_list)

[564, 54, 56]

In [42]:
36 % 2 == 0

True

In [19]:
a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

e_list = []
# Extract the mail ID's which are from gmail

for i in a:
    if i.split('@')[1] == 'gmail.com': # i.split('@')[1] 1 refer gmail.com 
        e_list.append(i) # e_list is used to store the output so necessary to append this

print(e_list)

['Salahudin@gmail.com', 'Abdul@gmail.com', 'Aditya@gmail.com']

In [66]:
'Vijay@gmail.com'.split('@')

['Vijay', 'gmail.com']

In [58]:
'Vijay@gmail.com'.split('@')[1] == 'gmail.com'

True

In [60]:
'gmail' in 'Vijay@yahoo.com'

False

In [62]:
'Vijay@gmail.com'.endswith('gmail.com')   #Check if the string ends with a punctuation sign

True

In [68]:
a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

e_list = []
# Extract the mail ID's which are from gmail

for i in a:
    if i.split('@')[1] == 'gmail.com':
        e_list.append(i.split('@')[0])

print(e_list)

['Salahudin', 'Abdul', 'Aditya']

In [74]:
#by me 

a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

e_list = []
e_list1 = []
e_list3 = []
e_list4 = []
e_list5 = []
c=[]

# Extract the mail ID's which are from gmail

for i in a:
    print(i.split('@'))
    print('-------------------')
    print(i.split('@')[0])
    print(i.split('@')[1])
    print('-------------------')
    if i.split('@')[1] == 'gmail.com': # if condition will executed after completing full 
        e_list.append(i.split('@')[0])
        e_list1.append(i.split('@')[1])
        
        e_list2 = [e_list + e_list1]
        e_list3 = ("@".join((e_list) + (e_list1)))
           for i in range(len(e_list2)):
            c.append(e_list3[0] + [e_list3])
  #    e_list4 = ("@".join((e_list[0]) + (e_list1[1])))
#Doubt  how to collect it   abc@gmail.com, cde@gmail.com
    
#print(e_list)
#print(e_list1)
#print(e_list2)
#print(e_list3)
#print(e_list4)
#print(c)

#print(e_list5)

IndentationError: unexpected indent (4114204714.py, line 25)

In [75]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

print(a[0] + b[0])
print(a[1] + b[1])
print(a[2] + b[2])
print(a[3] + b[3])
print(a[4] + b[4])

7
9
11
13
15

In [26]:
c = []

for i in range(len(a)):
    c.append(a[i] + b[i])

c

[7, 9, 11, 13, 15]

In [84]:
list(range(len(a)))

[0, 1, 2, 3, 4]

In [4]:
l1 = ['Salahudin', 'Vijay', 'Abdul', 'Abhijeet', 'Aditya']

l2 = ['TCS' , 'Infosys' , 'LTI' , 'MSFT' , 'Google']

l3 = []

l4 = []

l5 = []

for i in range(len(l1)):
    l3.append(f"{l1[i]} : {l2[i]}")
    l4.append(l1[i] + l2[i])
    #l5.append( ":".join((l1[i] + l2[i]))) # "#".join(myTuple) 'S:a:l:a:h:u:d:i:n:T:C:S 
    
print(l3)
print(l4)
#print(l5)

['Salahudin : TCS', 'Vijay : Infosys', 'Abdul : LTI', 'Abhijeet : MSFT', 'Aditya : Google']
['SalahudinTCS', 'VijayInfosys', 'AbdulLTI', 'AbhijeetMSFT', 'AdityaGoogle']

# List comprehension

- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

- newlist = [expression for item in iterable if condition == True]
syntax

for var in iterable:
    stat1
    stat2

[expression for var in iterable if condition]

In [100]:
a = [23,43,564,23,23,54,56]
e_list = []

for i in a:
    e_list.append(i * 2)

print(e_list)

[46, 86, 1128, 46, 46, 108, 112]

In [84]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
a = [23,43,564,23,23,54,56]
e_list = [i * 2 for i in a] # short cut method
e_list1 = [i * 2 for i in range(len(a))] # 0*2 1*2 2*2 3*2 ----


print(e_list)
print(e_list1)

[46, 86, 1128, 46, 46, 108, 112]
[0, 2, 4, 6, 8, 10, 12]

In [102]:
a = [23,43,564,23,23,54,56]
e_list = []

for i in a:
    if i%2 == 0:
        e_list.append(i)

print(e_list)

[564, 54, 56]

In [104]:
a = [23,43,564,23,23,54,56]
e_list = [i for i in a if i%2 == 0]

e_list

[564, 54, 56]

In [89]:
a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

e_list = [i for i in a if i.split('@')[1] == 'gmail.com']
# Extract the mail ID's which are from gmail

# for i in a:
#     if i.split('@')[1] == 'gmail.com':
#         e_list.append(i)

print(e_list)

['Salahudin@gmail.com', 'Abdul@gmail.com', 'Aditya@gmail.com']

In [82]:
a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

e_list = [i.split('@')[0] for i in a if i.split('@')[1] == 'gmail.com']
# Extract the mail ID's which are from gmail

# for i in a:
#     if i.split('@')[1] == 'gmail.com':
#         e_list.append(i.split('@')[0])

print(e_list)

['Salahudin', 'Abdul', 'Aditya']

In [110]:
l1 = ['Salahudin', 'Vijay', 'Abdul', 'Abhijeet', 'Aditya']

l2 = ['TCS' , 'Infosys' , 'LTI' , 'MSFT' , 'Google']

l3 = [f"{l1[i]} : {l2[i]}" for i in range(len(l1))] # In case of string, can use range

# for i in range(len(l1)):
#     l3.append(f"{l1[i]} : {l2[i]}")

l3

['Salahudin : TCS',
 'Vijay : Infosys',
 'Abdul : LTI',
 'Abhijeet : MSFT',
 'Aditya : Google']

In [120]:
l1 = ['Salahudin', 'Vijay', 'abdul', 'Abhijeet', 'aditya']

# Name of those whose fist char is a

l = [i for i in l1 if i[0].lower() == 'a']

l

['abdul', 'Abhijeet', 'aditya']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [91]:
#The pass Statement
#for loops cannot be empty, but if you for some reason have a for loop with no content, 
#put in the pass statement to avoid getting an error.

for x in [0, 1, 2]:
  pass