# Tuple 
- Tuples can be created by placing elements inside parentheses, separated by commas. For example, a tuple of three elements could be created like this: (1," hello", True). Once created, the elements of a tuple can be accessed using indexing, just like with lists.

- a tuple is a built-in data type that allows you to create immutable sequences of values. The values or items in a tuple can be of any type. This makes tuples pretty useful in those situations where you need to store heterogeneous data

In [12]:
a = (2,3,4,5)

print(a , type(a))

(2, 3, 4, 5) <class 'tuple'>

# Creating a tuple

In [13]:
# If you already know the elements

a = (2,3,4,5)

print(a , type(a))

(2, 3, 4, 5) <class 'tuple'>

In [4]:
# taking an inpput fromthe user

a = eval(input('Enter a tuple '))

print(a , type(a))

Enter a tuple 1,2,3
(1, 2, 3) <class 'tuple'>

In [2]:
# Type casting

a = tuple('python')

print(a , type(a))

('p', 'y', 't', 'h', 'o', 'n') <class 'tuple'>

In [5]:
'''If we need to convert a list to a tuple, we have to pass this whole list to the tuple() function as an argument,
and in return, it will give the tuple data type. '''

a = tuple([2,4,5,65])

print(a , type(a))

(2, 4, 5, 65) <class 'tuple'>

# Tuple packing and unpacking
- The process of assigning values to a tuple is known as packing. While on the other hand, the unpacking or tuple assignment is the process that assigns the values on the right-hand side to the left-hand side variables. In unpacking, we basically extract the values of the tuple into a single variable.

In [20]:
# Tuple packing :- Assigning multiple values to a single variable

a = (2,23,34,43)

print(a , type(a))

(2, 23, 34, 43) <class 'tuple'>

In [23]:
a = 43,65,345.45 , 'hello'

print(a , type(a))

(43, 65, 345.45, 'hello') <class 'tuple'>

In [ ]:
# Tuple unpacking :- Assigning multiple values to a multiple variables

LHS == RHS

In [28]:
a ,b ,c = 23,43.34,'abc'

print(a , type(a))
print(b , type(b))
print(c , type(c))

23 <class 'int'>
43.34 <class 'float'>
abc <class 'str'>

In [34]:
a ,b ,c = 23,43,65,23

print(a , type(a))
print(b , type(b))
print(c , type(c))

ValueError: too many values to unpack (expected 3)

In [49]:

'''The enumerate () method adds a counter to an iterable and returns it in the form of an 
enumerating object. This enumerated object can then be used directly for loops or converted
into a list of tuples using the list() function.'''

'''enumerate(a) creates an iterator that yields pairs of
(index, character) for each character in the string a.
In the for loop, i represents the index of the character in the string,
and j represents the character itself.'''

a = 'this is pythons class'
for i ,j in enumerate(a):
    if j == 's':
        print(i)

3
6
14
19
20

In [12]:

a = 'this is pythons class'
for i in enumerate(a):
    print(i)

(0, 't')
(1, 'h')
(2, 'i')
(3, 's')
(4, ' ')
(5, 'i')
(6, 's')
(7, ' ')
(8, 'p')
(9, 'y')
(10, 't')
(11, 'h')
(12, 'o')
(13, 'n')
(14, 's')
(15, ' ')
(16, 'c')
(17, 'l')
(18, 'a')
(19, 's')
(20, 's')

In [10]:

''' changing start index to 51 from 0'''

a = 'this is pythons class'

print(list(enumerate(a , 51)))

[(51, 't'), (52, 'h'), (53, 'i'), (54, 's'), (55, ' '), (56, 'i'), (57, 's'), (58, ' '), (59, 'p'), (60, 'y'), (61, 't'), (62, 'h'), (63, 'o'), (64, 'n'), (65, 's'), (66, ' '), (67, 'c'), (68, 'l'), (69, 'a'), (70, 's'), (71, 's')]

In [14]:
l1 = ["eat", "sleep", "repeat"]
 
# printing the tuples in object directly
for i in enumerate(l1):
    print (i)
 
# changing index and printing separately
for i,count                                                                                                                    in enumerate(l1, 100):
    print (i,count)
 
# getting desired output from tuple
for i, count in enumerate(l1):
    print(i)
    print(count)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat
0
eat
1
sleep
2
repeat

# Properties of tuple

- It is an seq data (It allows indexing and slicing)
- It allows duplication
- It is hetrogeneous - can contain multiple data type
- basic op - concatination , repetations , identity , memebership

#### It is an immutable data type

In [51]:
a = (1,2,3,4)

a[2] = 999

TypeError: 'tuple' object does not support item assignment

In [52]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [53]:
a = (23,54,'xyz' ,'xyz' , 'xyz' , 'xyz')

a.count('xyz')

4

In [54]:
a = (23,54,'xyz' ,'xyz' , 'xyz' , 'xyz')

a.index(54)

1

In [58]:
a = (2,3,4,[3,4,5])

a[-1][0] = 999

a

(2, 3, 4, [999, 4, 5])

# Dictionary
- mutable data structures that allow you to store key-value pairs

In [61]:
a = {'name' : 'xyz' , 'age':54}

print(a , type(a))

{'name': 'xyz', 'age': 54} <class 'dict'>

# Creating a dictionary

In [62]:
# If you already know the elements

a = {'name' : 'xyz' , 'age':54}

print(a , type(a))

{'name': 'xyz', 'age': 54} <class 'dict'>

In [17]:
# Taking an input from the user

a = eval(input('Enter a dict : '))

print(a , type(a))

Enter a dict : {'name': 'xyz', 'age': 54}
{'name': 'xyz', 'age': 54} <class 'dict'>

In [18]:
# type casting Typecasting is the process of converting the value of a single data type (such as an integer [int], float, or double) into another data type. 
#This conversion is done either automatically or manually. 

a = dict('abc')

print(a , type(a))

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [65]:

a = dict([3,4,5,6])

print(a , type(a))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

# In order for us to type caste any data into a dict , it has to be a seq inside a seq

In [19]:

a = dict((['a' , 2] , ('b' , 54)))

print(a , type(a))

{'a': 2, 'b': 54} <class 'dict'>

### zip 
- Python zip() method takes iterable containers and returns a single iterator object, having mapped values from all the containers.

In [73]:
l1 = ['Salahudin', 'Vijay', 'Abdul', 'Abhijeet', 'Aditya']

l2 = ['TCS' , 'Infosys' , 'LTI' , 'MSFT' , 'Google']

list(zip(l1 , l2))

[('Salahudin', 'TCS'),
 ('Vijay', 'Infosys'),
 ('Abdul', 'LTI'),
 ('Abhijeet', 'MSFT'),
 ('Aditya', 'Google')]

In [82]:
print(dict(zip(l1 , l2)))

{'Salahudin': 'TCS', 'Vijay': 'Infosys', 'Abdul': 'LTI', 'Abhijeet': 'MSFT', 'Aditya': 'Google'}

In [20]:
l1 = ['Salahudin', 'Vijay', 'Abdul', 'Abhijeet', 'Aditya' , 'new_emp']

l2 = ['TCS' , 'Infosys' , 'LTI' , 'MSFT' , 'Google']

print(list(zip(l1 , l2)))

[('Salahudin', 'TCS'), ('Vijay', 'Infosys'), ('Abdul', 'LTI'), ('Abhijeet', 'MSFT'), ('Aditya', 'Google')]

In [78]:
#fromkeys() is used to create a new dictionary from the given sequence of elements 
#and the values the users provide to create a key-value pair in the dictionary

l1 = ['Salahudin', 'Vijay', 'Abdul', 'Abhijeet', 'Aditya' , 'new_emp']

d = dict.fromkeys(l1)

print(d)

{'Salahudin': None, 'Vijay': None, 'Abdul': None, 'Abhijeet': None, 'Aditya': None, 'new_emp': None}

In [123]:
l1 = ('Salahudin', 'Vijay', 'Abdul', 'Abhijeet', 'Aditya' , 'new_emp')

d = dict.fromkeys(l1 , 0)

print(d)

{'Salahudin': 0, 'Vijay': 0, 'Abdul': 0, 'Abhijeet': 0, 'Aditya': 0, 'new_emp': 0}

In [23]:
# 2 inputs from the user

a = input('Enter the names : ').split(',')
b = eval(input('Enter the age : '))

print(a)
print(b)

dict(zip(a,b))

Enter the names : abc,def
Enter the age : 23,34
['abc', 'def']
(23, 34)

{'abc': 23, 'def': 34}

In [25]:
# by me , split is necessary ??
#DOUBT----------------------

a = input('Enter the names : ')
b = eval(input('Enter the age : '))

print(a)
print(b)

dict(zip(a,b))

Enter the names : abc,def
Enter the age : 23,45
abc,def
(23, 45)

{'a': 23, 'b': 45}

In [26]:
a = input('Enter the emp id"s : ').split(',')

dict.fromkeys(a , 0)

Enter the emp id"s : 1,2,3,

{'1': 0, '2': 0, '3': 0, '': 0}

In [5]:
a = input('Enter the emp id"s : ')

dict.fromkeys(a , 0)

Enter the emp id"s : 2,4,6

{'2': 0, ',': 0, '4': 0, '6': 0}

# properties of dictionary

- It is a collection of key and value pair
- A key and a value is called as an item
- each items are seperated by ,
- each key and a value is seperated by :
- A key cannot be duplicated where as value can be duplicated
- A key cannot be an mutable data type
- where as value can be anything (mutable / immutable)
- It is not a seq, Hence no indexing, slicing , concatination , repetation
- Membership op are possible but only on the keys

In [27]:
a = {'name':'xyz' , 'age':34 , 'salary':54354}

print(a , type(a))

{'name': 'xyz', 'age': 34, 'salary': 54354} <class 'dict'>

In [29]:
#  A key cannot be duplicated where as value can be duplicated

a = {'name':'xyz' , 'age':34 , 'salary':54354 , 'name' : 'abc'}

print(a)

{'name': 'abc', 'age': 34, 'salary': 54354}

In [30]:
a = {'name':'xyz' , 'age':34 , 'salary':54354 , 'second name' : 'xyz'}

print(a)

{'name': 'xyz', 'age': 34, 'salary': 54354, 'second name': 'xyz'}

In [6]:
# key can't be in list 
a = {['name' , 'adhar']:'xyz' , 'age':34 , 'salary':54354 }

print(a)

TypeError: unhashable type: 'list'

In [31]:
# key can be comibination of tuple
a = {('name' , 'adhar'):'xyz' , 'age':34 , 'salary':54354 }

print(a)

{('name', 'adhar'): 'xyz', 'age': 34, 'salary': 54354}

In [34]:
#a tuple is a hashable value and can be used as a dictionary key. A tuple would be 
#useful as a key when storing values associated with a grid or some other coordinate type system.
#The following code example shows a dictionary with keys representing a simple x,y grid system.

# DOUBT why it is printing in form of dictionary ??  
coordinates = { (0,0) : 100, (1,1) : 200}
coordinates[(1,0)] = 150 # its a list 
coordinates[(0,1)] = 125

print(coordinates)

coordinates1 = {(0 , 0):100 , (1,1) :200 ,(1,0):150, (0,1):125 }
print(coordinates1)

# {(0, 0): 100, (1, 1): 200, (1, 0): 150, (0, 1): 125}

{(0, 0): 100, (1, 1): 200, (1, 0): 150, (0, 1): 125}
{(0, 0): 100, (1, 1): 200, (1, 0): 150, (0, 1): 125}

In [35]:
a = {(32,4,5):['xyz' , 'abc'] , 'age':34 , 'salary':54354 }

print(a)

{(32, 4, 5): ['xyz', 'abc'], 'age': 34, 'salary': 54354}

In [36]:
# keys is enclosed with (), pair can be []

a = { 34 : ['xyz' , 'abc'] , 'age':34 , 'salary':54354 }

print(a)

{34: ['xyz', 'abc'], 'age': 34, 'salary': 54354}

A key can be 

- Basic data type
- str
- tuple

A key cannot be 
- list
- dict
- set

In [37]:
a = {'name':'xyz' , 'age':34 , 'salary':54354}

a[0]

KeyError: 0

In [103]:
a = {'name':'xyz' , 'age':34 , 'salary':54354}

a[0:]

TypeError: unhashable type: 'slice'

In [104]:
a = {'name':'xyz' , 'age':34 , 'salary':54354}
b = {'name':'xyz' , 'age':34 , 'salary':54354}


a + b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [105]:
a = {'name':'xyz' , 'age':34 , 'salary':54354}
b = 3


a * b

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [106]:
a = {'name':'xyz' , 'age':34 , 'salary':54354}

a['age']

34

In [38]:
a = ['xyz' , 43 , 5643645654]

print('Name : ' , a[0] )

print('Age : ' , a[1] )

print('Salary : ' , a[2] )

Name :  xyz
Age :  43
Salary :  5643645654

In [39]:
a = [ 43 , 5643645654 , 'xyz']

print('Name : ' , a[0] )

print('Age : ' , a[1] )

print('Salary : ' , a[2] )

Name :  43
Age :  5643645654
Salary :  xyz

In [40]:
a = { 'age':34 , 'salary':54354 , 'name':'xyz'}

print('Name : ' , a['name'] )

print('Age : ' , a['age'] )

print('Salary : ' , a['salary'] )

Name :  xyz
Age :  34
Salary :  54354

In [7]:
# DOUBT why False, it will serach Key

a = {'name':'xyz' , 'age':34 , 'salary':54354}

print ('age' in a)
print (34 in a)

True
False

In [112]:
a = {'name':'xyz' , 'age':34 , 'salary':54354}

'xyz' in a

False

In [47]:
a = {'name':'xyz' , 'age':34 , 'salary':54354}
b = {'name':'xyz' , 'age':34 , 'salary':54354}

a == b
print(id(a))
print(id(b))

2032633979200
2032633954112

In [114]:
# This occurs because dictionaries are mutable objects. When you create a and b, Python allocates memory for each dictionary separately, even though their contents are the same. 
#This is because dictionaries can be modified independently, 
#so Python creates separate objects in memory to hold their data.

a = {'name':'xyz' , 'age':34 , 'salary':54354}
b = {'name':'xyz' , 'age':34 , 'salary':54354}

a is b

False

# Extracting the data in the dict

In [71]:
emp_data = {'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} ,
           'emp_5' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645}}

emp_data['emp_2']['age']

23

In [72]:
# Extract the names of those emp whose age < 30
# i shows indexing of each key
for i in emp_data:
    if emp_data[i]['age'] < 30:
        print(emp_data[i]['name'])

Vijay
Abhijeet
Vijay

In [73]:
#DOUBT Vijay is printing 2 times and why use lower? 
for i in emp_data:
    if emp_data[i]['name'].lower() == 'vijay': 
        print(emp_data[i])

{'name': 'Vijay', 'age': 23, 'Salary': 564754645}
{'name': 'Vijay', 'age': 23, 'Salary': 564754645}

In [70]:
# DOUBT Vijay is printing 1 time only?
for i in emp_data:
    if emp_data[i]['name']=='Vijay':
        print(emp_data[i])

{'name': 'Vijay', 'age': 23, 'Salary': 564754645}

In [8]:
a = "HELLO World"
b = a.lower()
print(b)  # Output: hello world

hello world

In [81]:
a = {'name':'xyz' ,'name1':'xyz',  'age':34 , 'salary':54354}
print(a)

{'name': 'xyz', 'name1': 'xyz', 'age': 34, 'salary': 54354}