# updating the dictionary

In [1]:
emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

In [3]:
emp_data['emp_1']['age'] = 35

In [4]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 35, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534}}

In [5]:
emp_data['emp_3'] = {'name' :'new_emp' , 'age':54 , 'Salary' : 45345345}

In [6]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 35, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'new_emp', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534}}

In [7]:
emp_data['emp_5']

KeyError: 'emp_5'

In [10]:
emp_data['emp_10'] = {'name' :'new_emp' , 'age':54 , 'Salary' : 45345345}

In [11]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 35, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'new_emp', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'new_emp', 'age': 54, 'Salary': 45345345},
 'emp_10': {'name': 'new_emp', 'age': 54, 'Salary': 45345345}}

# Methods of dict 
- Python dictionary methods is collection of Python functions that operates on Dictionary.

- Python has a set of built-in methods that you can use on dictionaries.

- Method	Description
- clear()	Removes all the elements from the dictionary
- copy()	Returns a copy of the dictionary
- fromkeys()	Returns a dictionary with the specified keys and value
- get()	Returns the value of the specified key
- items()	Returns a list containing a tuple for each key value pair
- keys()	Returns a list containing the dictionary's keys
- pop()	Removes the element with the specified key
- popitem()	Removes the last inserted key-value pair
- setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update()	Updates the dictionary with the specified key-value pairs
- values()	Returns a list of all the values in the dictionary

# Method to access or insert a record in the dict

- get
- setdefault
- update

In [12]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Get
- in simple lang, to extract values from existing records

In [1]:
# If the key is present
#Returns the value for the given key

emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

print(emp_data.get('emp_3'))

{'name': 'Abdul', 'age': 54, 'Salary': 45345345}

In [2]:
# If the key is not present

emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

print(emp_data.get('emp_10')) # default=None

None

In [17]:
# If the key is not present, you can give custom message

emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

print(emp_data.get('emp_14' , 'The emp you are searching for is not present in the data')) # default=None

The emp you are searching for is not present in the data

In [3]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534}}

# Set default
- Returns the value of a key if the key is in the dictionary else inserts the key with a value to the dictionary
- can add new records but can't edit previous ones

In [18]:
# If the key is present

emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

print(emp_data.setdefault('emp_3'))

{'name': 'Abdul', 'age': 54, 'Salary': 45345345}

In [19]:
# If the key is not present

emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

print(emp_data.setdefault('emp_37'))

None

In [20]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_37': None}

In [4]:
# If the key is not present, inserting new record

emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

print(emp_data.setdefault('emp_5' ,{'name' :'new_emp' , 'age':28 , 'Salary' : 34534534}  ))

{'name': 'new_emp', 'age': 28, 'Salary': 34534534}

In [22]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'new_emp', 'age': 28, 'Salary': 34534534}}

In [8]:
# If the key is not present

emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

print(emp_data.setdefault('emp_3' ,{'name' :'new_emp' , 'age':28 , 'Salary' : 34534534}  ))

{'name': 'Abdul', 'age': 54, 'Salary': 45345345}

In [9]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534}}

# Update
- Updates the dictionary with the elements from another dictionary or an iterable of key-value pairs. With this method, you can include new data or merge it with existing dictionary entries

In [10]:
emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

emp_data.update('emp_2')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [12]:
emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }



emp_data.update({'emp_2' : {'name' :'new_emp' , 'age':54 , 'Salary' : 45345345} })
#emp_data.update({'emp_2' : {'name' :'new_emp' , 'age':54 } })
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'new_emp', 'age': 54, 'Salary': 45345345},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534}}

In [13]:
emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }



emp_data.update({'emp_5' : {'name' :'new_emp' , 'age':54 , 'Salary' : 45345345} ,
                'emp_6' : {'name' :'new_emp' , 'age':54 , 'Salary' : 45345345} })

emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'new_emp', 'age': 54, 'Salary': 45345345},
 'emp_6': {'name': 'new_emp', 'age': 54, 'Salary': 45345345}}

- get

fetch the existing data
by default the message is None if record is not present
you cannot change the exisiting data
you cannot insert any new item

- setdefault

fetch the existing data
can be used to insert any new item
cannot change the existing data

- update

cannot extract the existing data 
can update the existing records
can insert multiple records in 1 time

In [46]:
emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

In [31]:
#if emp_data currently has 4 employees, this line would create a new key 
#in the format "emp_5" for the next employee.

key = f"emp_{len(emp_data)+1}"

a = input('Enter the name : ')
b = eval(input('Enter the age : '))
c = eval(input('Enter the salary : '))

emp_data.setdefault(key , {'name' :a , 'age':b , 'Salary' : c})
#emp_data.setdefault({key : {'name' :a , 'age':b , 'Salary' : c}}) #unhashable type: 'dict'
emp_data

Enter the name : df
Enter the age : 56
Enter the salary : 56

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'as', 'age': 12, 'Salary': 12},
 'emp_6': {'name': 'as', 'age': 12, 'Salary': 12},
 'emp_7': {'name': 'as', 'age': 12, 'Salary': 12},
 'emp_8': {'name': 'abc', 'age': 45, 'Salary': 3456},
 'emp_9': {'name': 'qa', 'age': 12, 'Salary': 12},
 'emp_10': {'name': 'rt', 'age': 34, 'Salary': 56},
 'emp_11': {'name': 'abc', 'age': 12, 'Salary': 12},
 'emp_12': {'name': 'yu', 'age': 67, 'Salary': 67},
 'emp_13': {'name': 'ui', 'age': 78, 'Salary': 89},
 'emp_14': {'name': 'df', 'age': 56, 'Salary': 56}}

In [29]:

key = f"emp_{len(emp_data)+1}"

a = input('Enter the name : ')
b = eval(input('Enter the age : '))
c = eval(input('Enter the salary : '))
emp_data.update({key : {'name' :a , 'age':b , 'Salary' : c}})

# don't use this format 
#emp_data.update(key , {'name' :a , 'age':b , 'Salary' : c})

emp_data

Enter the name : ui
Enter the age : 78
Enter the salary : 89

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'as', 'age': 12, 'Salary': 12},
 'emp_6': {'name': 'as', 'age': 12, 'Salary': 12},
 'emp_7': {'name': 'as', 'age': 12, 'Salary': 12},
 'emp_8': {'name': 'abc', 'age': 45, 'Salary': 3456},
 'emp_9': {'name': 'qa', 'age': 12, 'Salary': 12},
 'emp_10': {'name': 'rt', 'age': 34, 'Salary': 56},
 'emp_11': {'name': 'abc', 'age': 12, 'Salary': 12},
 'emp_12': {'name': 'yu', 'age': 67, 'Salary': 67},
 'emp_13': {'name': 'ui', 'age': 78, 'Salary': 89}}

In [27]:
#if emp_data currently has 4 employees, this line would create a new key 
#in the format "emp_5" for the next employee.
emp_data1 = {
            'emp_0' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_1' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_2' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_3' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }
#-------------Method2----------------internet
a = input('Enter the name : ')
b = eval(input('Enter the age : '))
c = eval(input('Enter the salary : '))

emp_data1.update({'emp_' + str(i): {'name': a, 'age': b, 'Salary': c} for i in range(4, 8)})
emp_data1

#Doubt
# if i want to update differnt data for emp-5, 6 and 7 then?

Enter the name : abc
Enter the age : 34
Enter the salary : 34

{'emp_0': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_1': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_2': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_3': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_4': {'name': 'abc', 'age': 34, 'Salary': 34},
 'emp_5': {'name': 'abc', 'age': 34, 'Salary': 34},
 'emp_6': {'name': 'abc', 'age': 34, 'Salary': 34},
 'emp_7': {'name': 'abc', 'age': 34, 'Salary': 34}}

In [28]:
key = f"emp_{len(emp_data)+1}"

a = input('Enter the name : ')
b = eval(input('Enter the age : '))
c = eval(input('Enter the salary : '))

emp_data.update({key : {'name' :a , 'age':b , 'Salary' : c}})
emp_data

Enter the name : yu
Enter the age : 67
Enter the salary : 67

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'as', 'age': 12, 'Salary': 12},
 'emp_6': {'name': 'as', 'age': 12, 'Salary': 12},
 'emp_7': {'name': 'as', 'age': 12, 'Salary': 12},
 'emp_8': {'name': 'abc', 'age': 45, 'Salary': 3456},
 'emp_9': {'name': 'qa', 'age': 12, 'Salary': 12},
 'emp_10': {'name': 'rt', 'age': 34, 'Salary': 56},
 'emp_11': {'name': 'abc', 'age': 12, 'Salary': 12},
 'emp_12': {'name': 'yu', 'age': 67, 'Salary': 67}}

In [56]:
emp_data = { 
             'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

In [55]:
# by student , if in previous emp_3 is missing then?
# doubt ??


name = input("Please enter name:")
age = eval(input("Please enter age:"))
salary = eval(input("Please enter salary"))

startIndex = 1
isComplete = False
while ( not isComplete):
    if emp_data.get('emp_' + str(startIndex)) == None:
        isComplete = True
    else:
        startIndex += 1


emp_data.update({('emp_' + str(startIndex)):{'name':name,'age':age,'Salary':salary}})
emp_data

Please enter name: xyz
Please enter age: 32
Please enter salary 34545

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_3': {'name': 'xyz', 'age': 32, 'Salary': 34545}}

# Methods to remove the items

- pop
- popitem

In [65]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
# Pop

- it remove the items according to the keys
- It return you the value of the item it has removed

In [69]:
#

emp_data = { 
             'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

emp_data.pop('emp_3')

{'name': 'Abdul', 'age': 54, 'Salary': 45345345}

In [68]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534}}

In [70]:
#

emp_data = { 
             'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

emp_data.pop('emp_35')

KeyError: 'emp_35'

In [74]:
#

emp_data = { 
             'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

emp_data.pop('emp_73' , 'custom message')

'custom message'

In [73]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534}}

# popitems
- Returns and removes the key-value pair from the dictionary
- The item returned by popitem() is not necessarily the last item inserted into the dictionary. The choice of which item to remove is arbitrary and implementation-dependent.

In [34]:
#

emp_data = { 
             'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534}, 
            'emp_5' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

emp_data.popitem()

emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534}}

# Task 2

In [2]:
# you have to remove data from existing_emp and then to collect removed data into another variable
existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

ex_emp = {}
a = input('Enter the emp id : ')
ex_emp.setdefault(a , existing_emp.pop(a))

#ex_emp.pop('emp_3')

# ex_emp[a] = {a : existing_emp.pop(a)}

#ex_emp.update({a : existing_emp.pop(a)})

Enter the emp id : emp_4

{'name': 'Abhijeet', 'age': 28, 'Salary': 34534534}

In [44]:
existing_emp

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

In [46]:
ex_emp

{}

In [54]:
# you have to remove data from existing_emp and then to collect removed data into another variable
existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

ex_emp = {}
a=existing_emp.pop('emp_3')
ex_emp.setdefault('emp_3',a)

existing_emp

#ex_emp.pop('emp_3')

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

In [51]:
ex_emp

{'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345}}

# keys , values , items

In [59]:
existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

for i in existing_emp:
        print(i)

emp_1
emp_2
emp_3
emp_4
emp_5
emp_6
emp_7

In [60]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)
#The keys() method returns a view object.
#The view object contains the keys of the dictionary, as a list.

dict_keys(['brand', 'model', 'year'])

In [3]:
# DOUBT------------------------

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

# Print the emp_id of those persons whose names are starting with a or A

for i in existing_emp.keys():
    if existing_emp[i]['name'][0].lower() == 'a': # fine
    #if existing_emp[i]['name'][0] == 'a' or 'A': # all are printing why
        print(i)
        #print(existing_emp)
        
existing_emp

emp_3
emp_4
emp_6

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

In [70]:
#The values() method returns a view object. The view object 
#contains the values of the dictionary, as a list.

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [73]:
#When a values is changed in the dictionary, the view object also gets updated:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

car["year"] = 2018

print(x)

dict_values(['Ford', 'Mustang', 2018])

In [72]:
# DOUBT------------------------

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

# Print the name of those persons whose names are starting with a or A

for i in existing_emp.values():
    if i['name'][0].lower() == 'a':# fine
    #if i['name'][0] == 'a' or 'A':
        print(i['name'])

Abdul
Abhijeet
abc

In [74]:
#Return the dictionary's key-value pairs:

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [120]:
existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

# Print the emp_id and the names of those persons whose names are starting with a or A
# i for key, j for value

for i,j in existing_emp.items():
    if j['name'][0].lower() == 'a':
        print(j['name'] , i)

Abdul emp_3
Abhijeet emp_4
abc emp_6

In [75]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# copy

In [76]:
#The copy() method returns a copy of the specified list

fruits = ["apple", "banana", "cherry"]

x = fruits.copy()

print(x)

['apple', 'banana', 'cherry']

In [121]:
existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}


a = existing_emp.copy()

In [124]:
a['emp_1']['age'] = 99999999

In [125]:
a

{'emp_1': {'name': 'Salahudin', 'age': 99999999, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

In [126]:
existing_emp

{'emp_1': {'name': 'Salahudin', 'age': 99999999, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

# Clear 
- The clear() function in Python removes all elements from a list

In [128]:
existing_emp.clear()

In [130]:
existing_emp

{}

In [131]:
del existing_emp

In [132]:
existing_emp

NameError: name 'existing_emp' is not defined

In [77]:
existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

In [78]:
del existing_emp['emp_5']

In [136]:
existing_emp

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

In [79]:
#Create a dictionary with 3 keys, all with the value 0:
#The fromkeys() method returns a dictionary with the specified keys and the specified value.

x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [80]:

d = dict.fromkeys(range(1,101) , 0)

print(d )

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 0, 61: 0, 62: 0, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 0, 100: 0}

# Set , conditional statements