# Set
- Sets are used to store multiple items in a single variable.

In [10]:
a = {23,34,4,6,2}

print(a , type(a))

{34, 2, 4, 6, 23} <class 'set'>

# Properties

- It is not a seq data type
- It is a collection of unique values
- It is an mutable data type
- It cannot contain an mutable data type

- Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [2]:
a = {23,34,4,6,2,34,34,34,34,34,34,34}

print(a , type(a))

{34, 2, 4, 6, 23} <class 'set'>

In [1]:
a = {23,34,4,6,2,34,34,34,34,34,34,34}

a[0]

TypeError: 'set' object is not subscriptable

In [3]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [1]:
a = {23,34.43 , (34,45,56) , {34,456}} 

a

'''In Python, a set can only contain elements that are hashable, and lists (like (34,45,56))
and other sets are not hashable because they are mutable.

To fix this, you can either remove the mutable elements (like the list (34,45,56) and
the set {34,456}) or convert them into a hashable form, such as tuples.'''

TypeError: unhashable type: 'set'

In [3]:
a = {23, 34.43, (34, 45, 56)}
a

{(34, 45, 56), 23, 34.43}

In [4]:
a = {2,3,4,5,2,2,2,2}

a

{2, 3, 4, 5}

In [5]:
print(a.add(100)) #Once a set is created, you cannot change its items,
                  #but you can remove items and add new items.

None

In [22]:
a

{2, 3, 4, 5, 100}

In [7]:
dev = ['emp_1' , 'emp_4']

prod = ['emp_2' , 'emp_3']

qa = ['emp_1' , 'emp_3' ]

In [8]:
emp = dev + prod + qa

In [9]:
set(emp)

{'emp_1', 'emp_2', 'emp_3', 'emp_4'}

In [32]:
set(prod) - set(qa)

{'emp_2'}

In [35]:
set(qa) - set(prod)

{'emp_1'}

In [33]:
set(prod) & set(qa) # common

{'emp_3'}

In [34]:
set(prod) | set(qa) # all but unique

{'emp_1', 'emp_2', 'emp_3'}

In [50]:
l1 = set(["new york","chicago","orlando", "baltimore"])

l1
'''set() function takes this list as an argument and converts it to a set.
set() function can take any iterable as an argument, including lists, tuples, and other sets. It converts 
the elements of the iterable into a set.set() function converts the elements of the list into a set.'''

{'baltimore', 'chicago', 'new york', 'orlando'}

In [45]:
l2 = set(["chicago","new york","san diego"])

l2

{'chicago', 'new york', 'san diego'}

In [46]:
l1 & l2

{'chicago', 'new york'}

In [47]:
l2 - l1

{'san diego'}

In [48]:
l1 - l2

{'baltimore', 'orlando'}

In [49]:
l1 | l2

{'baltimore', 'chicago', 'new york', 'orlando', 'san diego'}

In [11]:
l1 = {"new york","chicago","orlando", "baltimore"}
l2 = l1 # aliasing so id will be same

print(id(l1))
print(id(l2))

l1.add('New_city')

print(l1)
print(l2)

print(id(l1))
print(id(l2))

2980908663744
2980908663744
{'chicago', 'baltimore', 'orlando', 'new york', 'New_city'}
{'chicago', 'baltimore', 'orlando', 'new york', 'New_city'}
2980908663744
2980908663744

In [13]:
l1 = {"new york","chicago","orlando", "baltimore"}
l2 = l1.copy() # shallow copy, changes in a can not be reflected in b...

print(l1)
print(l2)

print(id(l1))
print(id(l2))

l1.add('New_city')

print(l1)
print(l2)

print(id(l1))
print(id(l2))

{'orlando', 'baltimore', 'chicago', 'new york'}
{'orlando', 'baltimore', 'chicago', 'new york'}
2980908663520
2980908663744
{'chicago', 'baltimore', 'orlando', 'new york', 'New_city'}
{'orlando', 'baltimore', 'chicago', 'new york'}
2980908663520
2980908663744

# Condititional statements

In [ ]:
# if - else

stat1
stat2
if condition :
    stat3
    stat4
stat5
stat6

T --> 1,2,3,4,5,6
F --> 1,2,5,6

In [ ]:
# if - else

stat1
stat2
if condition :
    stat3
    stat4
else:
    stat7
    stat8
stat5
stat6

T --> 1,2,3,4,5,6 # if is true
F --> 1,2,7,8,5,6 # if condition fails

In [ ]:
# if - else

stat1
stat2
if condition 1:
    stat3
if condition2:
    stat9
if condition 3:
    stat4
else:
    stat7

stat5
stat6

In [56]:
a = 10
b = 20

if a>b: # F
    print('Big data')
if a<b: # T
    print('Pyspark')
if a != b: # T  # before else it is true so it will skip else
    print('SQL')
else:
    print('java')
    
print('Python')

Pyspark
SQL
Python

In [57]:
a = 10
b = 20

if a != b: # T
    print('Big data')
if a<b: # T
    print('Pyspark')
if a == b: # F
    print('SQL')  # before else it is false so it will include else (this if else is same block)
else:
    print('java')
    
print('Python')

Big data
Pyspark
java
Python

In [ ]:
# if -elif -  else

stat1
stat2
if condition 1:
    stat3
elif condition2:
    stat9
elif condition 3:
    stat4
else:
    stat7

stat5
stat6

In [14]:
a = 10
b = 20

if a != b: # T  # if condition is true so it will skip all elif
    print('Big data')
elif a<b: # T
    print('Pyspark')
elif a == b: # F
    print('SQL')
else:
    print('java')
    
print('Python')

Big data
Python

In [16]:
a = 10
b = 20

if a > b: # F
    print('Big data')
elif a == b: # F
    print('Pyspark')
elif a == b: # F
    print('SQL')
else:
    print('java')
    
print('Python')

java
Python

In [ ]:
# Task1

WAP

collect an input from the user message 1-5

if n is with this 1-5
2 --> Two
4 ---> four

Any number beyond or below the range 1-5

Number out of range

eg 9 , -3 , 34.655 , 5.8

Any number with the range 1-5

eg : 2.4 , 3.12 ---> Invalid number

In [22]:
a = eval(input("Please enter a number in range 1 - 5"))

if (a < 1) or (a > 5):
    print('Number out of range')
else:
    if a == 1:
        print("One")
    elif a == 2:
        print("Two")
    elif a == 3:
        print("Three")
    elif a == 4:
        print("Four")
    elif a == 5:
        print("Five")
    else:
        print('Invalid number')

Please enter a number in range 1 - 53.8
Invalid number

In [24]:
Num_Word = {1: "One", 2: "Two",3: "Three", 4: "Four",5: "Five"}
a = eval(input("Please enter a number in range 1 - 5"))

if (a < 1) or (a > 5):
    print('Number out of range')
else:
    if a in Num_Word:
        print(Num_Word.get(a))
    else:
        print('Invalid number')

Please enter a number in range 1 - 57
Number out of range

In [25]:
Num_Word = {1: "One",2: "Two",3: "Three",4: "Four",5: "Five"}


initial_Range = min(Num_Word.keys())
Max_Range = max(Num_Word.keys())

a = eval(input(f'Please inter a number between {initial_Range} - : {Max_Range} '))


if a < initial_Range or a > Max_Range :
    print("number is above or below range")
elif type(a) is float:
    print('Invalid Number')
else:
    print(f'{a}, {Num_Word[a]}')

Please inter a number between 1 - : 5 6
number is above or below range

In [27]:
input_value = eval(input("Please enter a number in range 1 - 5"))

if type(input_value) == int:
    if input_value == 1:
        print("One")
    elif input_value == 2:
        print("Two")
    elif input_value == 3:
        print("Three")
    elif input_value == 4:
        print("Four")
    elif input_value == 5:
        print("Five")
    else:
        print("Number out of range")
elif type(input_value) == float:
    if input_value >= 1.0 and input_value < 5.1:
        print("Invalid number")
    else:
        print("Number out of range")

Please enter a number in range 1 - 52
Two

In [71]:
# WAP to collect input from user 1-5
# print the word of the number

a = eval(input("Please inter a number between 1-5:  "))

if a < 1 or a > 5 :
    print("number is above or below range")
elif type(a) is float:
    print('Invalid Number')
elif a == 1:
    print(f'{a}, One')
elif a == 2:
    print(f'{a}, Two')
elif a==3:
    print(f'{a}, Three')
elif a==4:
    print(f'{a}, Four')
else:
    print(f'{a}, Five')

Please inter a number between 1-5:   76.34

number is above or below range

In [75]:
num = eval(input("Enter the number between 1 and 5: "))
if num < 1 or num > 5:
    print("Number is out of range")
elif type(num) == float:
    print("Invalid Number")
else:
    if(num == 1):
        print("One")
    elif(num == 2):
        print("Two")
    elif(num == 3):
        print("Three")
    elif(num == 4):
        print("Four")
    elif(num == 5):
        print("Five")

Enter the number between 1 and 5:  9.3

Number is out of range

In [ ]:
# WAP
3 input from the user

1 & 2 ---> number
3 --> op (+ , - , * , /) or (add , sub , mul , div)

10
20
+ or add ---> 30

invalid operator

In [92]:
n1=eval(input('enter a number_1:'))

n2=eval(input('enter a number_2:'))

op=input('Enter an operation:')

if op== '+' or op=='add':
    print(n1+n2)
elif op== '*' or op=='mul':
    print(n1*n2)
elif op== '-' or op=='sub':
    print(n1-n2)
elif op== '/' or op=='div':
    print(n1/n2)
else:
    print('invalid operator')

enter a number_1: 3
enter a number_2: 32
Enter an operation: sub

-29

In [95]:
n1=eval(input('enter a number_1:'))
n2=eval(input('enter a number_2:'))

op=input('Enter an operation:').lower()

d1 = {'+': n1+n2 , '-' : n1 - n2 , '*' : n1*n2 , '/':n1 / n2}

d2 = {'add': n1+n2 , 'sub' : n1 - n2 , 'mul' : n1*n2 , 'div':n1 / n2}

if (op in d1) or (op in d2):
    print(d1.get(op) or d2.get(op))
else:
    print('invalid operator')

enter a number_1: 10
enter a number_2: 20
Enter an operation: add

30

In [28]:
n1=eval(input('enter a number_1:'))

n2=eval(input('enter a number_2:'))

op=input('Enter an operation:')

d1 = {'+': n1+n2 , '-' : n1 - n2 , '*' : n1*n2 , '/':n1 / n2 , 'add': n1+n2 , 'sub' : n1 - n2 , 'mul' : n1*n2 , 'div':n1 / n2}

if op in d1:
    print(d1.get(op))
else:
    print('invalid operator')

enter a number_1:67
enter a number_2:78
Enter an operation:-
-11

In [104]:
n1=eval(input('enter a number_1:'))

n2=eval(input('enter a number_2:'))

op=input('Enter an operation:')

d1 = {'add+': n1+n2 , 'sub-' : n1 - n2 }

if op in d1:
    print(d1.get(op))
else:
    print('invalid operator')

enter a number_1: 3
enter a number_2: 3
Enter an operation: add

invalid operator

In [108]:
d1 = {('add' , '+'): n1+n2 , 'sub-' : n1 - n2 }

('add' , '+') in d1

True

In [124]:
n1 = 10
n2 = 20
op = '+'
d1 = {('add' , '+'): n1+n2 , ('sub' , '-') : n1 - n2 }

for i in d1:
    if (op in i):
        print(d1.get(i))
        break

-10