In [7]:
# Task1
x = 'level'

if x == x[::-1]:
    print('Palindrom')
else:
    print('Not a palindrom')

# Task2
n1 = 10
n2 = 30

print(n1 + n2)

# Task3

x = 'malayalam'

if x == x[::-1]:
    print('Palindrom')
else:
    print('Not a palindrom')

# Task4

n1 = 10
n2 = 40

print(n1 + n2)

Palindrom
40
Palindrom
50

# Best practice

- The code should be understandable
- Should be written in as many min lines as possible

In [ ]:
# Functions - DRY  don't repeat yourself

1. function definition --> where we define the code

2. function call ---> You execute the code

syntax

1. function definition

        def function_name(parameter):
            stat1
            stat2
            return stat3

2. function call

        function_name(arguments)


Things which are optional

1. return ---> If not used by default every function return None
2. parameter --> If parameter are there ,arguments should be there

In [8]:
n1 = 10
n2 = 40

print(n1 + n2)

50

In [11]:
# function definition

def adder():
    print(10 + 40)

In [14]:
# Function call

adder()
adder()
adder()
adder()
adder()

50
50
50
50
50

In [10]:
def adder(a , b): #parameters
    print(a + b)

In [18]:
adder(10 , 20) # arguments
adder(60 , 40)

30
100

In [2]:
x = 'malayalam'

if x == x[::-1]:
    print('Palindrom')
else:
    print('Not a palindrom')

Palindrom

In [11]:
def palindrom(a):
    if a == a[::-1]:
        print('Palindrom')
    else:
        print('Not a palindrom')

In [12]:
palindrom('level')
palindrom('python')

Palindrom
Not a palindrom

In [8]:
# Task1
x = 'level'

if x == x[::-1]:
    print('Palindrom')
else:
    print('Not a palindrom')

# Task2
n1 = 10
n2 = 30

print(n1 + n2)

# Task3

x = 'malayalam'

if x == x[::-1]:
    print('Palindrom')
else:
    print('Not a palindrom')

# Task4

n1 = 10
n2 = 40

print(n1 + n2)

Palindrom
40
Palindrom
50

In [13]:
# Task1
x = 'level'
palindrom(x)

# Task2
n1 = 10
n2 = 30
adder(n1, n2)

# Task3

x = 'malayalam'
palindrom(x)
# Task4

n1 = 10
n2 = 40
adder(n1, n2)

Palindrom
40
Palindrom
50

In [ ]:
# Types of arguments

- postional args
- keyword args
- default args
- variable length args

# postional args

- the no of parameters should match with the no of arguments
- The order is important

In [14]:
def emp_info(name , age , salary):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)

emp_info('xyz' , 43 , 645645645)

Name =  xyz
Age =  43
Salary =  645645645

In [28]:
def emp_info(name , age , salary): # 3 
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)

emp_info('xyz' , 43 ) #2

TypeError: emp_info() missing 1 required positional argument: 'salary'

In [30]:
def emp_info(name , age , salary): #3
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)

emp_info( 43 ,545345345 , 'xyz')#3

Name =  43
Age =  545345345
Salary =  xyz

# Keyword

In [32]:
def emp_info(name , age , salary):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)


emp_info(name = 'xyz' , age = 43 , salary= 645645645)

Name =  xyz
Age =  43
Salary =  645645645

In [33]:
def emp_info(name , age , salary):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)


emp_info( age = 43 , salary= 645645645 , name = 'xyz')

Name =  xyz
Age =  43
Salary =  645645645

# Default arguments
- The default value is assigned by using the assignment(=) operator of the form keywordname=value

In [15]:
def emp_info(name , age , salary , loc = 'Bangalore' , pin = 435345):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)
    print('Location = ',loc)
    print('pin = ',pin)

emp_info('xyz' , 32,534545)

Name =  xyz
Age =  32
Salary =  534545
Location =  Bangalore
pin =  435345

In [16]:
def emp_info(name , age , salary , loc = 'Bangalore' , pin = 435345):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)
    print('Location = ',loc)
    print('pin = ',pin)

emp_info('xyz' , 32,534545 , 'Goa',6545) # without naming loc, pin

Name =  xyz
Age =  32
Salary =  534545
Location =  Goa
pin =  6545

In [37]:
def emp_info(name , age , salary , loc = 'Bangalore' , pin = 435345):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)
    print('Location = ',loc)
    print('pin = ',pin)

emp_info('xyz' , 32,534545 , loc = 'Goa',pin = 6545)

Name =  xyz
Age =  32
Salary =  534545
Location =  Goa
pin =  6545

In [38]:
def emp_info(name , age , salary , loc = 'Bangalore' , pin = 435345):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)
    print('Location = ',loc)
    print('pin = ',pin)


emp_info('xyz',32, 534545 , pin = 6545)

Name =  xyz
Age =  32
Salary =  534545
Location =  Bangalore
pin =  6545

In [43]:
def emp_info(name , age , salary , loc = 'Bangalore' , pin = 435345):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)
    print('Location = ',loc)
    print('pin = ',pin)


emp_info(name = 'xyz' , 32,534545 , pin = 6545)# first positional then keywords

SyntaxError: positional argument follows keyword argument (372677425.py, line 9)

In [ ]:
# 
If you are using a mix match of positional and keyword args

first the postional args should be givenb follewed by the default args

In [44]:
def emp_info(loc = 'Bangalore' , pin = 435345 ,name , age , salary ): # first positional
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)
    print('Location = ',loc)
    print('pin = ',pin)


emp_info( 'xyz' , 32,534545 , pin = 6545)

SyntaxError: non-default argument follows default argument (1920698029.py, line 1)

In [48]:
def emp_info(name , age , salary , loc = 'Bangalore' , pin = 435345):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)
    print('Location = ',loc)
    print('pin = ',pin)


emp_info('xyz' , 32 , 534545 , loc = 'Goa' , pin = 6545)

Name =  xyz
Age =  32
Salary =  534545
Location =  Goa
pin =  6545

In [17]:
def emp_info(name , age , salary , loc = 'Bangalore' , pin = 435345):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)
    print('Location = ',loc)
    print('pin = ',pin)


emp_info(name = 'xyz' , age = 32 , salary = 534545 ,  pin = 6545 , loc = 'Goa')

Name =  xyz
Age =  32
Salary =  534545
Location =  Goa
pin =  6545

In [56]:
def emp_info(name , age , salary , loc = 'Bangalore' , pin = 435345):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)
    print('Location = ',loc)
    print('pin = ',pin)


emp_info( 'xyz' , 32 ,  534545 , 'Chennai' , pin = 6545 )

Name =  xyz
Age =  32
Salary =  534545
Location =  Chennai
pin =  6545

In [72]:
def emp_info(name , age, / , salary, * , loc = 'Bangalore' , pin = 435345):
    print('Name = ',name)
    print('Age = ',age)
    print('Salary = ',salary)
    print('Location = ',loc)
    print('pin = ',pin)


emp_info( 'xyz' , 32 , 534545 , loc = 'Chennai' , pin = 6545 )

Name =  xyz
Age =  32
Salary =  534545
Location =  Chennai
pin =  6545

In [ ]:
# Variable length args

*args ---> take variable length positional agruments and store it in a form of a tuple

**kwargs --> take variable length keyword agruments and store it in a form of a dic

In [18]:
def adder(*args):
    print(args , type(args))

adder(10 , 20 ,3,3,54,5,6,6)

(10, 20, 3, 3, 54, 5, 6, 6) <class 'tuple'>

In [20]:
def adder(*args):
    print(sum(args))
    print(sum(args))
adder(10 , 20 ,10,10)

50
50

In [21]:
def adder(**kwargs):
    print(kwargs , type(kwargs))

adder(name = 'xyz' , age = 434 , salry = 343)

{'name': 'xyz', 'age': 434, 'salry': 343} <class 'dict'>

In [22]:
def adder(*args , **kwargs):
    print(args , type(args))
    print(kwargs , type(kwargs))

adder(12,34,45,56, name = 'xyz' , age = 434 , salary = 343)

(12, 34, 45, 56) <class 'tuple'>
{'name': 'xyz', 'age': 434, 'salary': 343} <class 'dict'>

In [26]:
emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

In [27]:
def emp_adder(a,b,c):
    key = f"emp_{len(emp_data)+1}" # emp_x x=5,6----
    emp_data.setdefault(key , {'name' :a , 'age':b , 'Salary' : c})
    
emp_adder('abc' , 53 , 675865, pin = 76)
emp_data

TypeError: emp_adder() got an unexpected keyword argument 'pin'

In [28]:
def emp_adder(a,b,c):
    key = f"emp_{len(emp_data)+1}" # emp_x x=5,6----
    emp_data.setdefault(key , {'name' :a , 'age':b , 'Salary' : c})
    
emp_adder('abc' , 53 , 675865)
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'abc', 'age': 53, 'Salary': 675865}}

In [29]:
def emp_adder(a,b,c , **kwargs):
    key = f"emp_{len(emp_data)+1}"
    d = {'name' :a , 'age':b , 'Salary' : c}
    d.update(kwargs)
    emp_data.setdefault(key , d)
    
emp_adder('def' , 53 , 675865, pin = 76 )
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'abc', 'age': 53, 'Salary': 675865},
 'emp_6': {'name': 'def', 'age': 53, 'Salary': 675865, 'pin': 76}}

In [30]:
def emp_adder(a,b,c , **kwargs):
    key = f"emp_{len(emp_data)+1}"
    d = {'name' :a , 'age':b , 'Salary' : c , **kwargs}
    emp_data.setdefault(key , d)
    
emp_adder('ghi' , 53 , 675865, pin = 76 )
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'abc', 'age': 53, 'Salary': 675865},
 'emp_6': {'name': 'def', 'age': 53, 'Salary': 675865, 'pin': 76},
 'emp_7': {'name': 'ghi', 'age': 53, 'Salary': 675865, 'pin': 76}}

In [32]:
def emp_adder(a,b,c,**kwargs):
    key = f"emp_{len(emp_data) + 1}"
    emp_data.setdefault(key, {'name':a, 'age':b, 'salary':c})
    if kwargs != None:
            emp_data[key].update(kwargs)
            
emp_adder('ijk' , 53 , 675865, pin = 76 )
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'abc', 'age': 53, 'Salary': 675865},
 'emp_6': {'name': 'def', 'age': 53, 'Salary': 675865, 'pin': 76},
 'emp_7': {'name': 'ghi', 'age': 53, 'Salary': 675865, 'pin': 76},
 'emp_8': {'name': 'ijk', 'age': 53, 'salary': 675865, 'pin': 77},
 'emp_9': {'name': 'ijk', 'age': 53, 'salary': 675865, 'pin': 76}}

In [123]:
#emp_adder('abc' , 53 , 675865, pin = 76 )

In [124]:
#emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'abc', 'age': 53, 'Salary': 675865, 'mobile': 564645645},
 'emp_6': {'name': 'abc', 'age': 53, 'Salary': 675865},
 'emp_7': {'name': 'abc', 'age': 53, 'Salary': 675865},
 'emp_8': {'name': 'abc', 'age': 53, 'Salary': 675865, 'pin': 76}}

In [70]:
existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

ex_emp = {}

In [71]:
def func(a): # positional 
       ex_emp.setdefault(a, existing_emp.pop(a))
    
    
func('emp_3')
print(existing_emp)
print(ex_emp)

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434}, 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645}, 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534}, 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534}, 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534}, 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}
{'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345}}

In [54]:
def func(*a): # positional 
    for i in a:
        ex_emp.setdefault(i , existing_emp.pop(i))

In [55]:
func('emp_4' , 'emp_6')

In [56]:
existing_emp

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_5': {'name': 'xyz', 'age': 32, 'Salary': 54534534},
 'emp_7': {'name': 'pqr', 'age': 56, 'Salary': 34534534}}

In [57]:
ex_emp

{'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_6': {'name': 'abc', 'age': 65, 'Salary': 343534534}}

# Return

In [156]:
emp_data = {
            'emp_1' : {'name' :'Salahudin' , 'age':34 , 'Salary' : 343434} , 
            'emp_2' : {'name' :'Vijay' , 'age':23 , 'Salary' : 564754645} , 
            'emp_3' : {'name' :'Abdul' , 'age':54 , 'Salary' : 45345345} , 
            'emp_4' : {'name' :'Abhijeet' , 'age':28 , 'Salary' : 34534534} 
           }

In [58]:
def emp_adder(a,b,c , **kwargs):
    key = f"emp_{len(emp_data)+1}"
    d = {'name' :a , 'age':b , 'Salary' : c}
    if ('loc' in kwargs.keys()) and ('pin' in kwargs.keys()):
        d.update(kwargs)
    emp_data.setdefault(key , d)

In [59]:
emp_adder('xyz' , 32 , 343456 , loc = 3423423 , pin = 2)
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 34, 'Salary': 343434},
 'emp_2': {'name': 'Vijay', 'age': 23, 'Salary': 564754645},
 'emp_3': {'name': 'Abdul', 'age': 54, 'Salary': 45345345},
 'emp_4': {'name': 'Abhijeet', 'age': 28, 'Salary': 34534534},
 'emp_5': {'name': 'abc', 'age': 53, 'Salary': 675865},
 'emp_6': {'name': 'def', 'age': 53, 'Salary': 675865, 'pin': 76},
 'emp_7': {'name': 'ghi', 'age': 53, 'Salary': 675865, 'pin': 76},
 'emp_8': {'name': 'ijk', 'age': 53, 'salary': 675865, 'pin': 77},
 'emp_9': {'name': 'ijk', 'age': 53, 'salary': 675865, 'pin': 76},
 'emp_10': {'name': 'xyz',
  'age': 32,
  'Salary': 343456,
  'loc': 3423423,
  'pin': 2}}