# Lambda 

- A function without a name

lambda parameter: expression

- A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
def function(a,b):
    stat1
    stat2
    return stat3

function(10 , 20)

In [2]:
def adder(a,b):
    c = a+b
    return c


adder(10 , 20)

30

In [ ]:
lambda a,b: a+b

In [3]:
# Syntax 1

var = lambda a,b: a+b

var(10,20)

30

In [4]:
# Syntax 2

(lambda a,b: a+b)(10,20)

30

In [25]:
# by me
(lambda a,b: a+b, 10,20) # without map its not working

(<function __main__.<lambda>(a, b)>, 10, 20)

In [27]:
# by me
list1=[10,20]
list2=[10,20]
#list(map(lambda a,b: a+b, 10,20))
list(map(lambda a,b: a+b, list1,list2))

[20, 40]

In [5]:
def adder(a,b):
    c = a+b
    d = a-b
    return c,d


adder(10 , 20)

(30, -10)

In [14]:
# (lambda a,b: a+b , a-b)(10,20)

In [7]:
def palindrom(a):
    if a == a[::-1]:
        return ('Palindrom')
    else:
        return ('Not a palindrom')

In [8]:
palindrom('level')

'Palindrom'

In [11]:
(lambda a: 'Palindrom' if a == a[::-1] else 'Not a palindrom')('python')

'Not a palindrom'

In [16]:
x = 'xyz@gmail.com'

(lambda a : a.split('@')[0])(x)

'xyz'

In [17]:
n = 56

(lambda x : 'Even' if x%2==0 else 'Odd')(n)

'Even'

In [ ]:
lst = [23,34,54,6,34,546,67,678]

In [1]:
n = 56

(lambda x : 'Even' if x%2==0 else 'Odd')(n)

'Even'

In [18]:
lst = ['xyz@gmail.com' , 'abc@gmail.com' ,'pqr@gmail.com']

In [ ]:
x = 'xyz@gmail.com'

(lambda a : a.split('@')[0])(x)

# Map

1. function
2. seq


- Using Lists with Lambda Functions
- Lambda functions are often used with list methods like map(), filter(), and sorted() to apply a - function to each item in a list or to filter items in a list.

In [5]:
def func(a):
    if a%2==0:
        return 'Even'
    else:
        return 'Odd'

In [6]:
func(54)

'Even'

In [22]:
lst = [23,34,54,6,34,546,67,678]
#map() applies a function/lambda to all items in the input list.

list(map(func , lst))

['Odd', 'Even', 'Even', 'Even', 'Even', 'Even', 'Odd', 'Even']

In [23]:
lst = [23,34,54,6,34,546,67,678]


list(map((lambda x : 'Even' if x%2==0 else 'Odd') , lst))

['Odd', 'Even', 'Even', 'Even', 'Even', 'Even', 'Odd', 'Even']

In [7]:
n = 56

(lambda x : 'Even' if x%2==0 else 'Odd')(n)

'Even'

In [8]:
lst = [23,34,54,6,34,546,67,678]

(lambda x :  [i for i in x if i%2==0])(lst)

[34, 54, 6, 34, 546, 678]

In [11]:
# internet
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x ** 2, numbers))
print(squared)  # Output: [1, 4, 9, 16, 25]

#filter() creates a list of elements for which the function returns true.
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4]

#sorted() sorts the elements of a list based on a key function.
people = [{'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 30}, {'name': 'Dave', 'age': 20}]
sorted_people = sorted(people, key=lambda x: x['age']) # here key is age wise
print(sorted_people)

# Output: [{'name': 'Dave', 'age': 20}, {'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 30}]
#expression allows the sorted() function to sort the list of dictionaries by
#the value associated with the 'age' key in each dictionary

[1, 4, 9, 16, 25]
[2, 4]
[{'name': 'Dave', 'age': 20}, {'name': 'Jane', 'age': 30}, {'name': 'John', 'age': 25}]

In [28]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

# Extract usernames of all the mail ID

list(map((lambda x : x.split('@')[0]) , lst))

['akzelxw',
 'elum',
 'akbar.caakaterasu',
 'akarui.kibuno',
 'ajsparkchick',
 'ajmeia',
 'ajhnstn87',
 'ailuvzhoko4',
 'ailuvzhoko3',
 'ailuvzhoko2',
 'ailuvzhoko',
 'aillensiquioco',
 'ahmovic_ines',
 'ahmed_g300',
 'ahmadjazlan',
 'ahmad_ridho19']

# Filter

1. function
2. seq

- A function should be created in such a manner that it should return bool
- filter() creates a list of elements for which the function returns true.

In [19]:
lst = [23,34,54,6,34,546,67,678]

list(map((lambda x : 'Even' if x%2==0 else 'Odd') , lst))

['Odd', 'Even', 'Even', 'Even', 'Even', 'Even', 'Odd', 'Even']

In [20]:
lst = [23,34,54,6,34,546,67,678]
list(map((lambda x : 'Even' if x%2==0 ) , lst))

SyntaxError: invalid syntax (4198854171.py, line 2)

In [12]:
lst = [23,34,54,6,34,546,67,678]

list(filter((lambda x : x%2==0 ) , lst))

[34, 54, 6, 34, 546, 678]

In [40]:
list(filter((lambda x : x%2!=0 ) , lst))

[23, 67]

In [36]:
48 %2 == 0

True

In [41]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

list(filter((lambda x : 'gmail' in x) , lst))

['elum@gmail.com',
 'akbar.caakaterasu@gmail.com',
 'akarui.kibuno@gmail.com',
 'ajhnstn87@gmail.com',
 'ahmadjazlan@gmail.com']

In [14]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

l = list(filter((lambda x : 'gmail' in x) , lst))

list(map((lambda x: x.split('@')[0]) , l))

['elum', 'akbar.caakaterasu', 'akarui.kibuno', 'ajhnstn87', 'ahmadjazlan']

In [46]:
list(map((lambda x: x.split('@')[0] if 'gmail' in x else None) , lst))

[None,
 'elum',
 'akbar.caakaterasu',
 'akarui.kibuno',
 None,
 None,
 'ajhnstn87',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'ahmadjazlan',
 None]

In [32]:
#by me

lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

#print(list(map((lambda x: x.split('@')[0] and 'gmail' in x ) , lst)))
print(list(map((lambda x: x.split('@')[0] and (list(filter((lambda x : 'gmail' in x) , lst) ))))

SyntaxError: unexpected EOF while parsing (2960095333.py, line 22)

In [44]:
list(map((lambda x: x.split('@')[0]) , list(filter((lambda x : 'gmail' in x) , lst))))

['elum', 'akbar.caakaterasu', 'akarui.kibuno', 'ajhnstn87', 'ahmadjazlan']

In [47]:
lst = ['akzelxw@hotmail.in',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.in',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.in',
'ahmovic.ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.in',
'ahmad_ridho19@yahoo.com']

l1=list(filter((lambda x : x.endswith('.in')) , lst))
print(l1)
list(map((lambda x: x.split('@')[0]), l1))

['akzelxw@hotmail.in', 'ajhnstn87@gmail.in', 'aillensiquioco@aol.in', 'ahmadjazlan@gmail.in']

['akzelxw', 'ajhnstn87', 'aillensiquioco', 'ahmadjazlan']

# Reduce 

1. function
2. seq

   sum , agg , mean , min , max

In [51]:
from functools import reduce

In [48]:
lst = [1,2,3,4,5]

sum(lst)

15

In [52]:
lst = [1,2,3,4,5]

reduce((lambda a,b: a+b) , lst)

15

In [ ]:
1,2,3,4,5

3,3,4,5

6,4,5

10,5

15

In [54]:
lst = [1,2,3,4,5]

reduce((lambda a,b: a * b) , lst)

120

In [55]:
lst = [1,2,3,0,4,5]

reduce((lambda a,b : a if a<b else b) , lst)

0

In [ ]:
1,2,3,0,4,5

1,3,0,4,5

1,0,4,5

0,4,5

0,5

0

In [49]:
lst = [1,2,3,4,5]

min(lst)

1

In [50]:
lst = [1,2,3,4,5]

max(lst)

5

In [56]:
lst = [1,2,3,0,4,5]

reduce((lambda a,b : a if a > b else b) , lst)

5

# Problems

In [36]:
import pandas as pd

df = pd.DataFrame({'day': {0: '1/1/2017',
  1: '1/2/2017',
  2: '1/3/2017',
  3: '1/4/2017',
  4: '1/5/2017',
  5: '1/6/2017'},
 'temperature': {0: 32, 1: 35, 2: 28, 3: 24, 4: 32, 5: 31},
 'windspeed': {0: 6, 1: 7, 2: 2, 3: 7, 4: 4, 5: 2},
 'event': {0: 'Rain', 1: 'Sunny', 2: 'Snow', 3: 'Snow', 4: 'Rain', 5: 'Sunny'}})

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [38]:
# D/M/YYYY

df['month'] = list(map((lambda x: int(x.split('/')[1])),df['day']))

In [39]:
df['new_column'] = list(map(() , df['existing_column']))

KeyError: 'existing_column'

In [40]:
df

        day  temperature  windspeed  event  month
0  1/1/2017           32          6   Rain      1
1  1/2/2017           35          7  Sunny      2
2  1/3/2017           28          2   Snow      3
3  1/4/2017           24          7   Snow      4
4  1/5/2017           32          4   Rain      5
5  1/6/2017           31          2  Sunny      6

In [78]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

list(map((lambda x,y : x+y) , a,b))

[7, 9, 11, 13, 15]

In [79]:
df

        day  temperature  windspeed  event  month
0  1/1/2017           32          6   Rain      1
1  1/2/2017           35          7  Sunny      2
2  1/3/2017           28          2   Snow      3
3  1/4/2017           24          7   Snow      4
4  1/5/2017           32          4   Rain      5
5  1/6/2017           31          2  Sunny      6

In [80]:
# Create a new column called as col_1 whcih contains the multilication of temperature and windspeed

df['col_1'] = list(map((lambda x,y: x*y), df['temperature'], df['windspeed'] ))

df

        day  temperature  windspeed  event  month  col_1
0  1/1/2017           32          6   Rain      1    192
1  1/2/2017           35          7  Sunny      2    245
2  1/3/2017           28          2   Snow      3     56
3  1/4/2017           24          7   Snow      4    168
4  1/5/2017           32          4   Rain      5    128
5  1/6/2017           31          2  Sunny      6     62

In [83]:
# Create a new column called as col_2, That contains the far of the temperature column

# formulae -->   ((9/5)*T)+32

df['col_2']= list(map((lambda T : ((9/5)*T)+32 ) , df['temperature']))
df

        day  temperature  windspeed  event  month  col_1  col_2
0  1/1/2017           32          6   Rain      1    192   89.6
1  1/2/2017           35          7  Sunny      2    245   95.0
2  1/3/2017           28          2   Snow      3     56   82.4
3  1/4/2017           24          7   Snow      4    168   75.2
4  1/5/2017           32          4   Rain      5    128   89.6
5  1/6/2017           31          2  Sunny      6     62   87.8

In [87]:
# create a new column called as col_3 --> thats contains the min value comparing windspeed and month

df['col_3'] = list(map((lambda a,b : a if a<b else b), df['windspeed'], df['month']))

df['col_3'] = list(map((lambda a,b : min(a,b)), df['windspeed'], df['month']))

df['col_3'] = list(map(min,df['month'],df['windspeed']))

df

        day  temperature  windspeed  event  month  col_1  col_2  col_3
0  1/1/2017           32          6   Rain      1    192   89.6      1
1  1/2/2017           35          7  Sunny      2    245   95.0      2
2  1/3/2017           28          2   Snow      3     56   82.4      2
3  1/4/2017           24          7   Snow      4    168   75.2      4
4  1/5/2017           32          4   Rain      5    128   89.6      4
5  1/6/2017           31          2  Sunny      6     62   87.8      2

In [88]:
# event --> extract the last char of the events which are starting with S or s

# ['y' , 'w' , 'w' , 'y']

filtered_list = list(filter(lambda x : x[0].lower() == 's', df['event']))

result = list(map(lambda x: x[-1],filtered_list))

result

['y', 'w', 'w', 'y']

# Modules

In [ ]:
file handling , exceptional handling , regex , numpy 4 , pandas 4 , mat plotlib and seaborn 2