# Range 

- start - by default it starts from 0
- stop ---> has to be given by the user
- step - By default it's 1

1. start - inclusive
2. stop - exclusive

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [4]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
list(range(10,20 , 2)) # jump value or step value

[10, 12, 14, 16, 18]

In [6]:
list(range(10,20 , 5))

[10, 15]

In [6]:
list(range(5 , 0))
# list(range(0 , 5))

[]

In [13]:
print(list(range(5 , 0 , -1)))
print(list(range(5 , 0 , -2)))
print(list(range(5 , 0 , -3)))
print(list(range(5 , 0 , -4)))
print(list(range(5 , 0 , -5)))
print(list(range(5 , 0 , -6)))
print(list(range(5 , 0 , -30)))

[5, 4, 3, 2, 1]
[5, 3, 1]
[5, 2]
[5, 1]
[5]
[5]
[5]

In [9]:
# Extract all the odd number between 0 - 10

list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(1,10 , 2))

[1, 3, 5, 7, 9]

In [22]:
# Table of 2 in reverse order
print(list(range(2 , 21 )))
print(list(range(2 , 22 ,2)))
print(list(range(2 , 22 , -2))) # wrong logic so empty list
print(list(range(20 , 2 , -2)))
print(list(range(20 , 1 , -2)))
print(list(range(20 , 0 , -2)))
print(list(range(20 , -1 , -2)))
print(list(range(20 , -2 , -2)))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[]
[20, 18, 16, 14, 12, 10, 8, 6, 4]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [18]:
list(range(20 , 0 , -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

# Comments

- Helps to explain the code
- Stop the execution of some part of the code

In [19]:
pi = 3.14
r = 2

Area = r*r

Area

4

In [20]:
pi = 3.14 # This is a value declared for the next program
r = 2 # Side of a square

Area = r*r # Area of a square

Area

4

In [21]:
a = 10
b = 20
c = 30
d = 40

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [22]:
a = 10
b = 20
c = 30
d = 40

print(a)
# print(b)
# print(c)
print(d)

10
40

In [23]:
a = 10
b = 20
c = 30
d = 40

print(a)
'''print(b)
print(c)'''
print(d)

10
40

In [25]:
"""This is the place where I am 
Calculating 5654654645 the 
Area of a circle
543534534534534
"""

a = 10
b = 20
c = 30
d = 40

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [ ]:
condition:
{
    fjkhdasf
}

In [ ]:
stat1
stat2
if condition:
    stat3
    stat4
    stat5
stat6
stat7

In [27]:
a = 10
b = 20

if a > b:
    print('Hello world')
print('python')

python

In [23]:
a = 10
b = 20

if a > b:
    print('Hello world')
    print('python')

In [34]:
a = 10
b = 20

if a < b:
                                         print('Hello world')
    print('SQL')
    
print('python')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [35]:
a = 10
b = 20

if a < b:
                                         print('Hello world')
                                         print('SQL')
    
print('python')

Hello world
SQL
python

In [37]:
a = 10
b = 20

if a < b:
    print('Hello world')
    print('SQl')
    
print('python')

Hello world
SQl
python

In [46]:
a = 10
b = 20

if a > b: # F
    print('Hello world')
if a != b: #T
    print('SQl')
    print('Java')
    
print('python')

SQl
Java
python

# Data type Integers

- Any number without a decimal point

  eg :- -ve or +ve

In [51]:
a = 99

print(a , type(a))

99 <class 'int'>

# Operations which can be performed in Integer data type

# Arithmetic operations

+ , - , * , / , ** (exponent) , // (Floor division) , % (Modulo)

In [52]:
a = 34
b = 43


print(a + b)

77

In [53]:
a = 34
b = 43


print(a - b)

-9

In [54]:
a = 34
b = 43


print(a * b)

1462

In [55]:
a = 2
b = 4


print(a ** b)

16

In [56]:
a = 10
b = 3


print(a / b)

3.3333333333333335

In [57]:
a = 10
b = 3


print(a // b)

3

In [ ]:
Floor value                 exact value              cieling value

     3                     3.333333333333333              4

In [68]:
a = 10
b = 6

import math

print('Exact value : ' ,a / b)

print('Floor value : ' , a // b)

print('round of value : ' , round(a / b))

print('Cieling value : ' , math.ceil(a / b))

Exact value :  1.6666666666666667
Floor value :  1
round of value :  2
Cieling value :  2

In [ ]:
Floor value                 exact value              cieling value

     1                     1.6666666666666667             2

In [73]:
a = 34
b = 8

import math

print('Exact value : ' ,a / b)

print('Floor value : ' , a // b)

print('round of value : ' , round(a / b))

print('Cieling value : ' , math.ceil(a / b))

Exact value :  4.25
Floor value :  4
round of value :  4
Cieling value :  5

In [78]:
a = 34
b = 21

import math

print('Exact value : ' ,a / b)

print('Floor value : ' , a // b)

print('round of value : ' , round(a / b))

print('Cieling value : ' , math.ceil(a / b))

Exact value :  1.619047619047619
Floor value :  1
round of value :  2
Cieling value :  2

In [85]:
a = 12
b = 1.1

import math

print('Exact value : ' ,a / b)

print('Floor value : ' , a // b)

print('round of value : ' , round(a / b))

print('Cieling value : ' , math.ceil(a / b))

Exact value :  10.909090909090908
Floor value :  10.0
round of value :  11
Cieling value :  11

In [87]:
a = 11
b = 3

import math

print('Exact value : ' ,a / b)

print('Floor value : ' , a // b)

print('round of value : ' , round(a / b))

print('Cieling value : ' , math.ceil(a / b))

Exact value :  3.6666666666666665
Floor value :  3
round of value :  4
Cieling value :  4

In [91]:
a = -11
b = 3

import math

print('Exact value : ' ,a / b)

print('Floor value : ' , a // b)

print('round of value : ' , round(a / b))

print('Cieling value : ' , math.ceil(a / b))

Exact value :  -3.6666666666666665
Floor value :  -4
round of value :  -4
Cieling value :  -3

In [107]:
a = 10
b = 3

a % b

1

In [108]:
a = 9999999999999999999999999998
b = 2

a % b

0

# Comparision operators

< , > , >= , <=

- The output will always be in bool
- Can be performed on number (int , float)
- can be performed on str to str
- can be performed on bool
- cannot be performed on complex
- Cannot perform on None

In [110]:
a = 10
b = 3

a < b

False

In [111]:
a = 10
b = 10

a > b

False

In [112]:
a = 10
b = 10

a >= b

True

In [113]:
a = 10
b = 145.23

a >= b

False

In [115]:
a = 10
b = 'abc'

a > b

TypeError: '>' not supported between instances of 'int' and 'str'

In [116]:
a = 10
b = [32,43,564]

a > b

TypeError: '>' not supported between instances of 'int' and 'list'

In [119]:
a = 'ABC' # 65
b = 'abc' # 97

a < b

True

In [120]:
a = 'ABC' # 66
b = 'Abc' # 98

a < b

True

In [124]:
a = 'AAC' # 65 
b = 'a' # 97

a < b

True

In [125]:
a = 10
b = True

a < b

False

In [126]:
True == 1

True

In [127]:
a = 10
b = 23+9j

a < b

TypeError: '<' not supported between instances of 'int' and 'complex'

In [128]:
a = 23+9j
b = 23+9j

a < b

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [129]:
a = 10
b = None

a >= b

TypeError: '>=' not supported between instances of 'int' and 'NoneType'

# Equality operators
- Can be performed on any data type
- == , !=

In [130]:
a = 10
b = 10

a == b

True

In [132]:
a = 10
b = 15

a != b

True

In [133]:
a = 10
b = 'python'

a == b

False

In [134]:
a = 10
b =[ 'python' , 34 , 65]

a == b

False

In [2]:
a = 10+5j
b = 56+7j

a != b

True

In [139]:
a = 890
b = '10'

a > b

TypeError: '>' not supported between instances of 'int' and 'str'

# Logical operators

- and
- or
- not

In [5]:
user_name = 'xyz@gmail.com'
password = 'python'

In [6]:
a = input('Enter the mail : ')
b = input('Enter the password : ')

if (a == user_name) and (b == password):
    print('logged IN')
else:
    print('Incorrect Info')

Enter the mail : xyz@gmail.com
Enter the password : python
logged IN

In [149]:
a = input('Enter the mail : ')
b = input('Enter the password : ')

if (a == user_name) or (b == password):
    print('logged IN')
else:
    print('Incorrect Info')

Enter the mail :  xyz@gmail.com
Enter the password :  hello

logged IN

In [148]:
True and False

False

In [150]:
True or False

True

In [154]:
not True

False

In [159]:
not False

True

# Logical operators