# Properties of string

- It is an seq data type (It allows us to perform indexing and slicing)
- It allows us to perform some basic operations (concatination , repetation , identity , Membership)
- A string is an immutable data type

# Concatination
- op ---> +
- operands --> both should be a string data type

In [1]:
a = 'xyz'
b = 'abc'

a+b

'xyzabc'

In [2]:
a = 'xyz'
b = 3545

a+b

TypeError: can only concatenate str (not "int") to str

In [3]:
a = '10'
b = '20'

a+b

'1020'

# repetation

- op ---> *
- operands --> One should be a string data type and another should be an integer

In [4]:
a = 'xyz'
b = 3

a*b

'xyzxyzxyz'

In [5]:
a = '20'
b = 2

a*b

'2020'

# Identity

- op ---> is , is not

In [1]:
a = 'abc_ABC_123' 
b = 'abc_ABC_123'

a is b # memory allocation same
print(id(a))
print(id(b))

1824712947248
1824712947248

In [7]:
a = 'abc ABC_123'
b = 'abc ABC_123'

print(id(a))
print(id(b))

print(a is b) # because of space, memory allocation is differnet

print(a == b)  #value

2116936573552
2116936422448
False
True

In [8]:
a = 'abc_ABC_123'
b = 'abc_ABC_123'

print(id(a))
print(id(b))

print(a is b)

print(a == b)

2116915508720
2116915508720
True
True

# Membership

- op ---> in , not

It is to check if the sub seq is present in the seq or noot

In [9]:
a = 'this is pythons class'

'python' in a

True

In [10]:
a = 'this is pythons class'

'java' in a

False

In [11]:
a = 'this is pythons class'

'is' in a

True

In [12]:
a = 'this is pythons class'

'si' in a

False

In [13]:
a = 'this is pythons class'

'java' not in a

True

In [14]:
a = 'this is pythons class'

'si' in a[::-1]  # it will read from reverse order

True

# It is an immutable data type

In [15]:
a = 'python'

a[2] = 'h' # cant assign value

TypeError: 'str' object does not support item assignment

In [16]:
a = [3,5,7,87,5]

a[2] = 999999

a

[3, 5, 999999, 87, 5]

In [2]:
a = 'python'

a.replace('p' , 'j')

'jython'

In [3]:
a

'python'

#  Methods of string

In [19]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# capitalize

In [20]:
a = 'this is PYTHON class'

# More specifically, make the first character have upper case and the rest lower case.

a.capitalize()

'This is python class'

In [21]:
a = 'this is PYTHON class'

# Return a copy of the string converted to uppercase.

a.upper()

'THIS IS PYTHON CLASS'

In [22]:
a = 'this is PYTHON class'

# Return a copy of the string converted to lower.

a.lower()

'this is python class'

In [23]:
a = 'this is PYTHON class'

# More specifically, words start with uppercased characters and all remaining cased characters have lower case.

a.title()

'This Is Python Class'

In [24]:
a.capitalize()

'This is python class'

In [5]:
user_name = 'xyz@gmail.com' 
password = 'python'
a = input('Enter the mail : ').lower()
b = input('Enter the password : ')

if (a == user_name) and (b == password):
    print('logged IN')
else:
    print('Incorrect Info')

Enter the mail : XYZ@GMAIL.COM
Enter the password : python
logged IN

In [ ]:
user_name = 'xyz@gmail.com'
password = 'python'

a = input('Enter the mail : ').lower()
b = input('Enter the password : ')

if (a == user_name) and (b == password):
    print('logged IN')
else:
    print('Incorrect Info')

In [6]:
user_name = 'xyz@gmail.com'
password = 'python'

a = input('Enter the mail : ')
b = input('Enter the password : ')

if (a.lower() == user_name) and (b == password):
    print('logged IN')
else:
    print('Incorrect Info')

Enter the mail : XYZ@GMAIL.COM
Enter the password : python
logged IN

In [26]:
a = 'hello world'

b = a.upper()

print(a)
print(b)

hello world
HELLO WORLD

In [27]:
a = 'hello world'.upper()


print(a)

HELLO WORLD

# Methods that return bool data type

In [28]:
# is alnum :- it'll return True if string alpha / numbers , mix of both

s1 = 'xyz'
s2 = '345'
s3 = 'abc3456'
s4 = '^&*('

print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())
print(s4.isalnum())

True
True
True
False

In [29]:
# is alpha :- it'll return True if string alpha 
#Python isalpha() method returns True if all of the characters in the string are alphabets 

s1 = 'xyz'
s2 = '345'
s3 = 'abc3456'
s4 = '^&*('

print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())
print(s4.isalpha())

True
False
False
False

In [32]:
#returns True if all of the characters in the string are alphanumeric (either alphabets or numbers).
s1 = 'xyz' 
s2 = '345'
s3 = 'abc3456'
s33 = 'abc_3456'
s4 = '^&*(_'


print(not s1.isalnum()) #T
print(not s2.isalnum()) #T
print(not s2.isalnum()) # T
print(not s33.isalnum()) #F
print(not s4.isalnum()) #F

False
False
False
True
True

# Special char

In [33]:
a = 'hello\nworld' # new line 

print(a)

hello
world

In [34]:
a = 'hello\tworld' # space 

print(a)

hello	world

In [35]:
# \b --> Back space - deletes the previous char

a = 'hello\bworld'

print(a)

helloworld

In [37]:
# \r --> carraige return
#\r shifts the cursor to the beginning of the current line

a = 'hello\rwor' # wor instead of hel

print(a)

wor

In [38]:
a = 'hello\rIndian'

print(a)

Indian

# Escape char or backslash

In [39]:
a = 'hello\\nworld'

print(a)

hello\nworld

In [40]:
a = 'hello\nworld\tpython'

print(a)

hello
world	python

In [41]:
a = 'hello\\nworld\\tpython'

print(a)

hello\nworld\tpython

# RaW string

In [42]:
#As we can see that the string is printed as raw, and it neglected all newline sign(\n) or
#tab space (\t).

a = r'hello\nworld\tpython'


print(a)

hello\nworld\tpython

In [44]:
a = r'C:users\jolly\Desktop\new_folder\backup\raw_files\data.txt'

print(a)

C:users\jolly\Desktop\new_folder\backup\raw_files\data.txt

In [45]:
a = 'C:users\jolly\Desktop\new_folder\backup\raw_files\data.txt'

print(a)

C:users\jolly\Desktop
aw_files\data.txt

# # Raw strings are particularly useful when working with regular expressions, as they allow you to specify patterns that may contain backslashes without having to escape them. They are also useful when working with file paths, as they allow you to specify paths that contain backslashes without having to escape them. Raw strings can also be useful when working with strings that contain characters that are difficult to type or read, such as newline characters or tabs

In [49]:
string_text1 = 'Python\tis\neasy\to\learn'
 
# Print the string string_text1 # to, t for tab 
print(string_text1)
 
# Define string with double backslash
# and assign to variable
string_text2 = 'Python\\tis\\neasy\\to\\learn'
 
print(string_text2)

Python	is
easy	o\learn
Python\tis\neasy\to\learn

In [50]:
string_text2 = 'c:\\parent\\tasks\\new\\'
 
print(string_text2)

c:\parent\tasks\new\

In [51]:
string_text2 = r'c:\\parent\\tasks\\new\\'
 
print(string_text2)

c:\\parent\\tasks\\new\\

In [55]:
s = '\\examplehost\digitalocean\content\'
print(s)

SyntaxError: EOL while scanning string literal (2125811942.py, line 1)

In [56]:
#https://www.digitalocean.com/community/tutorials/python-raw-string
s = r'\\examplehost\digitalocean\content\'
print(s)

SyntaxError: EOL while scanning string literal (3647862071.py, line 1)

# Strip , lstrip , rstrip

Strip
- It removes the specified char from both the ends
- By default it removes space

In [1]:
a = '                python                                            '


a.strip()

'python'

In [2]:
# press A to insert new line to code
a = '************python**********************************************'


a.strip()

'************python**********************************************'

In [60]:
a = '**    **********python**********************************************'


a.strip()

'**    **********python**********************************************'

In [3]:
a = '   **    **********python**********************************************   '


a.strip()

'**    **********python**********************************************'

In [64]:
a = '************python**********************************************'


a.strip('*')

'python'

In [4]:
a = '************&&&&&&&&&python**************&&&&&&&&&&&********************************'


a.strip('&*')

'python'

In [66]:
a = '*****^^^*******pyt*^hon*********************^^^^^*************************'


a.strip('*^')

'pyt*^hon'

In [5]:
# left strip

a = '*****^^^*******pyt*^hon*********************^^^^^*************************'


a.lstrip('*^')

'pyt*^hon*********************^^^^^*************************'

In [68]:
a = '09173487232'

a.lstrip('0')

'9173487232'

In [69]:
a = '9173487232'

len(a)

10

In [ ]:
""" Ljust , rjust 
https://www.youtube.com/watch?v=pRlEJ9b3Ovw
These functions respectively left-justify, right-justify and center a string in a 
field of given width. They return a string that is at least width characters wide, 
created by padding the string s with the character fillchar (default is a space) 
until the given width on the right, left or both sides. The string is never truncated   """

In [70]:
a = 'python'

a.ljust(10)

'python    '

In [71]:
a = 'python'

a.ljust(10 , '*')

'python****'

In [77]:
a = 'python'

a.rjust(1 , '*')
a.rjust(6 , '*')
a.rjust(7 , '*')

'*python'

In [73]:
a = '9173487232'

a.rjust(11 , '0')

'09173487232'