# Replace

- All occurrences of the specified phrase will be replaced, if nothing else is specified.
- string.replace(oldvalue, newvalue, count)

In [1]:
a = 'this is pythons class, python is programing lang, python has an easy syntax'

a.replace('p' , 'j')

'this is jythons class, jython is jrograming lang, jython has an easy syntax'

In [2]:
a = 'this is pythons class, python is programing lang, python has an easy syntax'

a.replace('python' , 'java')

'this is javas class, java is programing lang, java has an easy syntax'

In [3]:
a = 'this is pythons class, python is programing lang, python has an easy syntax'

a.replace('python' , 'java' ,  2)

'this is javas class, java is programing lang, python has an easy syntax'

# Split
- The split() method splits a string into a list.
- splits a string into a list of strings after breaking the given string by the specified separator.

- You can specify the separator, default separator is any whitespace.

- Note: When maxsplit is specified, the list will contain the specified number of elements plus one. It is a number, that tells us to split the string into a maximum of the provided number of times. If it is not provided then the default is -1 which means there is no limit.

- Syntax
- string.split(separator, maxsplit)

In [12]:
a = 'this is pythons class, python is programing lang, python has an easy syntax'

a.split()

['this',
 'is',
 'pythons',
 'class,',
 'python',
 'is',
 'programing',
 'lang,',
 'python',
 'has',
 'an',
 'easy',
 'syntax']

In [1]:
#https://www.youtube.com/watch?v=-dynY515NsY
a = 'this is pythons class, python is programing lang, python has an easy syntax'

#a.split()

print(a.split(',', 1))
print(a.split(',', 2))


print(a.split(' ', 1)) # into 2 parts by white space whenever it encounter white space 
print(a.split(' ', 2)) # into 3 parts

['this is pythons class', ' python is programing lang, python has an easy syntax']
['this is pythons class', ' python is programing lang', ' python has an easy syntax']
['this', 'is pythons class, python is programing lang, python has an easy syntax']
['this', 'is', 'pythons class, python is programing lang, python has an easy syntax']

In [20]:
a = 'xyz@gmail@com'

print(a.split("@"))

print(a.split('@', 1))

['xyz', 'gmail', 'com']
['xyz', 'gmail@com']

In [25]:
a = 'this is pythons class, python is programing lang, python has an easy syntax'

print (a.split(","))
print (a.split(','))
a.split(",") # if u use no print statement it will pick the last one value

['this is pythons class', ' python is programing lang', ' python has an easy syntax']
['this is pythons class', ' python is programing lang', ' python has an easy syntax']

['this is pythons class',
 ' python is programing lang',
 ' python has an easy syntax']

In [3]:
a = 'this is pythons class, python is programing lang, python has an easy syntax'

b = a.split()
b[4] = 'java'
print(b)

['this', 'is', 'pythons', 'class,', 'java', 'is', 'programing', 'lang,', 'python', 'has', 'an', 'easy', 'syntax']

# Join

- This function joins elements of a sequence and makes it a string.

- Iterable â€“ objects capable of returning their members one at a time. Some examples are List, Tuple, String, Dictionary, and Set

- Return Value: The join() method returns a string concatenated with the elements of iterable.
 
- Type Error: If the iterable contains any non-string values, it raises a TypeError exception.

In [4]:
' '.join(b) # pass pass in hindi 
# ' '.join(tuple(b))

'this is pythons class, java is programing lang, python has an easy syntax'

In [5]:
'@'.join(b)

'this@is@pythons@class,@java@is@programing@lang,@python@has@an@easy@syntax'

In [6]:
print(a)

this is pythons class, python is programing lang, python has an easy syntax

In [7]:

' '.join(tuple(b))  # tuple immutable 

# doubt------------if want to insert 2 elements then?

'this is pythons class, java is programing lang, python has an easy syntax'

In [9]:
# list [], mutable
# tuple (), immutable 
# splits break the string into list 

a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

#for -This is a loop statement that iterates over each element in the iterable a.


# i=0th element, 
for i in a:
    print (i.split('@'))
    

#After splitting, [0] selects the first element of the resulting list, 
#which effectively extracts the part of the string before the "@" symbol.
for i in a:
    print(i.split('@')[0])
   
    
for i in a:
     print(i.split('@')[1])
        
for i in a:
    print(i.split('@')[0][0])
    
for i in a:
    print(i.split('@')[0][1])  # list [], mutable so it will pick 2nd item from every name 
    
a[0]= 'gupta.jolly28@gmail.com'   
    
print(a) # list [], mutable

['Salahudin', 'gmail.com']
['Vijay', 'yahoo.com']
['Abdul', 'gmail.com']
['Abhijeet', 'hotmail.com']
['Aditya', 'gmail.com']
Salahudin
Vijay
Abdul
Abhijeet
Aditya
gmail.com
yahoo.com
gmail.com
hotmail.com
gmail.com
S
V
A
A
A
a
i
b
b
d
['gupta.jolly28@gmail.com', 'Vijay@yahoo.com', 'Abdul@gmail.com', 'Abhijeet@hotmail.com', 'Aditya@gmail.com']

In [62]:
a = ['axaa@gmail.com' , 'bybb@yahoo.com' , 'czcc@gmail.com' , 'dhdd@hotmail.com' ,
    'epee@gmail.com']

for i in a:
    print (i.split('@'))
    
for i in a:
    print(i.split('@')[1])  
    
for i in a:
    print(i.split('@')[0]) 
    
    
print(a)

['axaa', 'gmail.com']
['bybb', 'yahoo.com']
['czcc', 'gmail.com']
['dhdd', 'hotmail.com']
['epee', 'gmail.com']
gmail.com
yahoo.com
gmail.com
hotmail.com
gmail.com
axaa
bybb
czcc
dhdd
epee
['axaa@gmail.com', 'bybb@yahoo.com', 'czcc@gmail.com', 'dhdd@hotmail.com', 'epee@gmail.com']

In [58]:
a = ('axaa@gmail.com' , 'bybb@yahoo.com' , 'czcc@gmail.com' , 'dhdd@hotmail.com' ,
    'epee@gmail.com')

for i in a:
    print (i.split('@'))
    
    
for i in a:
    print(i.split('@')[1])  
    
for i in a:
    print(i.split('@')[0]) 
    
    
print(a)

['axaa', 'gmail.com']
['bybb', 'yahoo.com']
['czcc', 'gmail.com']
['dhdd', 'hotmail.com']
['epee', 'gmail.com']
gmail.com
yahoo.com
gmail.com
hotmail.com
gmail.com
axaa
bybb
czcc
dhdd
epee

In [69]:
a = ('Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com')

 
for i in a:
    print (i.split('@')) # first split from original
    

for i in a:
    print(i.split('@')[0]) # second split from output from first
    
    
for i in a:
    print(i.split('@')[0][1])# third split from output from second   # tuple (), immmutable 
    
     
print(a)

['Salahudin', 'gmail.com']
['Vijay', 'yahoo.com']
['Abdul', 'gmail.com']
['Abhijeet', 'hotmail.com']
['Aditya', 'gmail.com']
Salahudin
Vijay
Abdul
Abhijeet
Aditya
a
i
b
b
d
('Salahudin@gmail.com', 'Vijay@yahoo.com', 'Abdul@gmail.com', 'Abhijeet@hotmail.com', 'Aditya@gmail.com')

In [95]:
a =   ['2024-05-06', '2024-05-07', '2024-05-08', '2024-05-09',
       '2024-05-10', '2024-05-11', '2024-05-12', '2024-05-13',
       '2024-05-14', '2024-05-15']

# YYYY-MM-DD ----------->  DD/MM/YYYY

#for i in a:
#    print(i.split('-'))
#    print('/'.join)

#DOUBT ----------can not collect output after spliting then join?

#for i in a:
#        c = i.split('-')
#              print('/'.join(c))

for i in a:
    print(i.split('-'))

for i in a:
    print('/'.join(i.split('-')))
    
            

for i in a:
    print('/'.join(i.split('-')[::-1]))

['2024', '05', '06']
['2024', '05', '07']
['2024', '05', '08']
['2024', '05', '09']
['2024', '05', '10']
['2024', '05', '11']
['2024', '05', '12']
['2024', '05', '13']
['2024', '05', '14']
['2024', '05', '15']
2024/05/06
2024/05/07
2024/05/08
2024/05/09
2024/05/10
2024/05/11
2024/05/12
2024/05/13
2024/05/14
2024/05/15
06/05/2024
07/05/2024
08/05/2024
09/05/2024
10/05/2024
11/05/2024
12/05/2024
13/05/2024
14/05/2024
15/05/2024

In [104]:
a =   ['2024-05-06', '2024-05-07', '2024-05-08', '2024-05-09',
       '2024-05-10', '2024-05-11', '2024-05-12', '2024-05-13',
       '2024-05-14', '2024-05-15']

# YYYY-MM-DD ----------->  DD/MM/YYYY
#The replace() method replaces a specified phrase with another specified phrase.

for i in a:
    print(i.replace('-' , '/'))
    
#DOUBT------------How to reverse   
for i in a:
  print(i.replace('-' , '/')[::-1]) 
    
    
#for i in a:
 #   print(i.split[::-1])

2024/05/06
2024/05/07
2024/05/08
2024/05/09
2024/05/10
2024/05/11
2024/05/12
2024/05/13
2024/05/14
2024/05/15
60/50/4202
70/50/4202
80/50/4202
90/50/4202
01/50/4202
11/50/4202
21/50/4202
31/50/4202
41/50/4202
51/50/4202

# find , rfind , index , rindex

- The find() method finds the first occurrence of the specified value.
- The find() method returns -1 if the value is not found.

- string.find(search value, start, end)



- The rfind() method finds the last occurrence of the specified value.
- The rfind() method returns -1 if the value is not found.
- The rfind() method is almost the same as the rindex()

- string.rfind(value, start, end)



- The index() method returns the position at the first occurrence of the specified value.
- list.index(elmnt)

- If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

- string.rindex(value, start, end)

In [66]:
a = 'this is pythons class' # first occurence index

a.find('s')

3

In [10]:
a = 'this is pythons class going on' # last occurence

a.rfind('s')

20

In [68]:
a = 'this is pythons class' # first occurence

a.index('s')

3

In [69]:
a = 'this is pythons class going on' # last occurence

a.rindex('s')

20

In [105]:
a = 'this is pythons class' # return -1 if value is not found

a.find('z')

-1

In [71]:
a = 'this is pythons class' # return error if value is not found

a.index('z')

ValueError: substring not found

In [106]:
a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

for i in a:
    print(i.split('@')[0])

Salahudin
Vijay
Abdul
Abhijeet
Aditya

In [11]:
#DOUBT-------------------------------

a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']
   
for i in a:
    print(i[:i.find('@')])

Salahudin
Vijay
Abdul
Abhijeet
Aditya

In [111]:
a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

for i in a:
    print(i[ : i.find('@')])

Salahudin
Vijay
Abdul
Abhijeet
Aditya

# Count 
- The count() method returns the number of elements with the specified value.

In [113]:
a = 'this is pythons class, python is programing lang, python has an easy syntax'


a.count('p')

4

In [116]:
a = 'this is pythons class, python is programing lang, python has an easy syntax'


a.count('python')

3

In [117]:
a = 'this is pythons class, python is programing lang, python has an easy syntax'


a.count('java')

0

# List

- Anything written inside [] and each elements are sep by ,

In [118]:
a = [34,345,45,56]

print(a , type(a))

[34, 345, 45, 56] <class 'list'>

# Different methods to Create a list

In [119]:
# If you already know the elements

a = [34,345,45,56]

print(a , type(a))

[34, 345, 45, 56] <class 'list'>

In [120]:
# Taking an user input

a = eval(input())

print(a , type(a))

1
1 <class 'int'>

In [121]:
a = eval(input())

print(a , type(a))

23,34,56,67
(23, 34, 56, 67) <class 'tuple'>

# Type casting
- There may be times when you want to specify a type on to a variable. This can be done with casting.

- Convert String to Number Methods
- We have explained the methods to convert a string into a integer datatype. Here is the list of the functions:

- Using int() function
- Using eval() function
- Using ast.literal_eval
- Using str.isdigit() function

In [122]:
a = (2,3,4,5)
b = 'hello'

print(list(a))
print(list(b))

[2, 3, 4, 5]
['h', 'e', 'l', 'l', 'o']

In [132]:
#convert string to int data type
print(int("7"))

#check the data type with type() method
print(type(int("7")))


a = 'hello world'
print(list(a))
print(tuple(a))

# DOUBT not able to convert string to int
#print(int("a"))
#print(type(int("a")))

7
<class 'int'>
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [133]:
a = 'hello world'

a.split()

['hello', 'world']

In [134]:
a = list(eval(input()))

print(a , type(a))

34,56,67
[34, 56, 67] <class 'list'>

In [135]:
a = '34,5,6'

list(a)

['3', '4', ',', '5', ',', '6']

# Properties of list

- It is an seq data (It allows indexing and slicing)
- It allows duplication
- It is hetrogeneous - can contain multiple data type
- basic op - concatination , repetations , identity , memebership

#### It is an mutable data type

In [137]:
a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

print(a[1])

Vijay@yahoo.com

In [138]:
a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

print(a[1 : 4])

['Vijay@yahoo.com', 'Abdul@gmail.com', 'Abhijeet@hotmail.com']

In [139]:
a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

print(a[-2 : -5 : -1])

['Abhijeet@hotmail.com', 'Abdul@gmail.com', 'Vijay@yahoo.com']

In [12]:
a = ['Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abdul@gmail.com' ,'Abdul@gmail.com' , 'Abdul@gmail.com'
     ,'Abdul@gmail.com', 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com']

print(a)

['Salahudin@gmail.com', 'Vijay@yahoo.com', 'Abdul@gmail.com', 'Abdul@gmail.com', 'Abdul@gmail.com', 'Abdul@gmail.com', 'Abdul@gmail.com', 'Abhijeet@hotmail.com', 'Aditya@gmail.com']

In [142]:
a = {'Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abdul@gmail.com' ,'Abdul@gmail.com' , 'Abdul@gmail.com'
     ,'Abdul@gmail.com', 'Abhijeet@hotmail.com' ,'Aditya@gmail.com'}

print(a) # in set duplicate no

{'Abhijeet@hotmail.com', 'Abdul@gmail.com', 'Salahudin@gmail.com', 'Vijay@yahoo.com', 'Aditya@gmail.com'}

In [143]:
a = ('Salahudin@gmail.com' , 'Vijay@yahoo.com' , 'Abdul@gmail.com' , 'Abdul@gmail.com' ,'Abdul@gmail.com' , 'Abdul@gmail.com'
     ,'Abdul@gmail.com', 'Abhijeet@hotmail.com' ,
    'Aditya@gmail.com')

print(a)

('Salahudin@gmail.com', 'Vijay@yahoo.com', 'Abdul@gmail.com', 'Abdul@gmail.com', 'Abdul@gmail.com', 'Abdul@gmail.com', 'Abdul@gmail.com', 'Abhijeet@hotmail.com', 'Aditya@gmail.com')

In [144]:
a = ['Salahudin@gmail.com' , 34 , 45.56 , ['a' , 'b'] , {'a' :54}]

print(a)

['Salahudin@gmail.com', 34, 45.56, ['a', 'b'], {'a': 54}]

In [145]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]


print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [146]:
a = [1,2,3,4,5]
b = 2


print(a * b)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [147]:
a = [1,2,3,4,5]
b = [1,2,3,4,5]

print(id(a))

print(id(b))

print(a is b)

print(a == b)

1572703295104
1572703425728
False
True

In [148]:
a = [1,2,3,4,5]

33 in a

False

In [149]:
a = [1,2,3,4,5]


33 not in a

True

# Nested list

In [ ]:
a = [1,2,3,4] --> list

a = [[1,2],3,4] --> nested list

In [150]:
a = [34,54,567,65,34]

len(a)

5

In [151]:
a = [[34,54],567,65,34]

len(a)

4

In [153]:
a = [34,54,567,65,34]

print(a[0])

34

In [155]:
a = [[34,54],567,65,34]

print(a[0][1])
print(a[1])

54
567

In [156]:
a = ['product' , 'quantity' , 'price' , ['ram' , 'color' , 'screen']]

a[3][1]

'color'

In [159]:
a = ['product' , 'quantity' , 'price' , ['ram' , 'color' , 'screen']]

print(a[3][-2])# in forward dir
print(a[3][-1])

color
screen

In [162]:
a = ['product' , 'quantity' , 'price' , [['ram' , 'color'] , 'screen']]

print(a[3][1])# in forward dir
print(a[3][0][0])
print(a[3][0][1])

screen
ram
color

In [163]:
a = ['product' , 'quantity' , 'price' , [['ram' , 'color'] , 'screen']]

# [['ram' , 'color'] , 'screen']] this whole is -1


print(a[-1][1]) # in reverse dir
print(a[-1][0][0])
print(a[-1][0][1])

screen
ram
color

In [166]:
lst_1= [[   0,    1,    4,    9,   16,   25],
       [  36,   49,   64,   81,  100,  121],
       [ 144,  169,  196,  225,  256,  289],
       [ 324,  361,  400,  441,  484,  529],
       [ 576,  625,  676,  729,  784,  841],
       [ 900,  961, 1024, 1089, 1156, 1225]]

# 361,  400,  441,  484


# print(lst_1[3][1:-1]) # logic of sir  -1 value stop and exclusive 
print(lst_1[3][1:5])    # logic of mine which one is more correct and why?

# 484 , 441 , 400 , 361

# print(lst_1[3][-2: 0 :-1]) # logic of sir  0 is stop value and exclusive 
print(lst_1[3][-2: -6:-1]) # logic of mine

[361, 400, 441, 484]
[361, 400, 441, 484]
[484, 441, 400, 361]
[484, 441, 400, 361]

In [175]:
lst_2 = [[[   0,    1,    4,    9,   16,   25],[  36,   49,   64,   81,  100,  121],[ 144,  169,  196,  225,  256,  289]],

       [[ 324,  361,  400,  441,  484,  529],
        [ 576,  625,  676,  729,  784,  841],
        [ 900,  961, 1024, 1089, 1156, 1225]]]

print(lst_2[0])
print(lst_2[1])

print(lst_2[0][0])
print(lst_2[1][0])
print(lst_2[1][0][0])

# 361,  400,  441,  484
print(lst_2[1][0][1:5]) # mine logic
print(lst_2[1][0][1:-1])

# 484 , 441 , 400 , 361

print(lst_2[1][0][-2: 0 :-1])
print(lst_2[1][0][-2:-6:-1])  # mine logic

[[0, 1, 4, 9, 16, 25], [36, 49, 64, 81, 100, 121], [144, 169, 196, 225, 256, 289]]
[[324, 361, 400, 441, 484, 529], [576, 625, 676, 729, 784, 841], [900, 961, 1024, 1089, 1156, 1225]]
[0, 1, 4, 9, 16, 25]
[324, 361, 400, 441, 484, 529]
324
[361, 400, 441, 484]
[361, 400, 441, 484]
[484, 441, 400, 361]
[484, 441, 400, 361]