In [ ]:
x = ['ab', 'cd']
for i in x:
    i.upper()
print(x)
#upper() method for strings in Python does not modify the string in place; instead, it returns
#a new string with all characters converted to uppercase.

#The function upper() does not modify a string in place, 
#it returns a new string which isn’t being stored anywhere.

In [2]:
x = ['ab', 'cd']
x = [i.upper() for i in x]
print(x)

['AB', 'CD']

In [3]:
x = ['ab', 'cd']
for index in range(len(x)):
    x[index] = x[index].upper()
print(x)

['AB', 'CD']

In [ ]:
x = ['ab', 'cd']
for i in x:
    x.append(i.upper())
print(x)
#he loop does not terminate as new elements are being added to the list in each iteration.

In [4]:
x = ['ab', 'cd']
x.extend([i.upper() for i in x])
print(x)

['ab', 'cd', 'AB', 'CD']

In [5]:
i = 1
while True:
    if i%0O7 == 0:
        break
    print(i)
    i+= 1

1
2
3
4
5
6

In [6]:
i = 5
while True:
    if i%0O11 == 0:
        break
    print(i)
    i+= 1
#0O11 is an octal number

5
6
7
8

In [7]:
i = 2
while True:
    if i%3 == 0: # r2 --0  no
        break
    print(i)
    i+= 2

2
4

In [9]:
i = 1
while False:
    if i%2 == 0: # 1%2 not zero
        break
    print(i)
    i += 2
#Control does not enter the loop because of False.

In [10]:
True = False
while True:
    print(True)
    break
#SyntaxError, True is a keyword and it’s value cannot be changed.

SyntaxError: cannot assign to True (2296477622.py, line 1)

In [20]:
x = "abcdef"
while i in x:
    #print(i, end=" ")
    print(i)

TypeError: 'in <string>' requires string as left operand, not int

In [21]:
numberGames = {}
numberGames[(1,2,4)] = 8
numberGames[(4,2,1)] = 10
numberGames[(1,2)] = 12
sum = 0
for k in numberGames:
    sum += numberGames[k]
print(len(numberGames) + sum)

#Adds a key (1,2,4) with the value 8 to the dictionary

33

In [24]:
a=("Check")*3
print(a)
type(a)

CheckCheckCheck

str

In [25]:
a=("Check",)*3
print(a)
type(a)

('Check', 'Check', 'Check')

tuple

In [37]:
#doubt 18
def sum1(tup, num):
    return sum(i + num for i in tup)
a = (2, 3, 4)
result = sum1(a, 3)
print(result)

TypeError: 'int' object is not callable

In [42]:
a=(0,1,2,3,4)
b=slice(0,2)
print(a[b])
print(a)

(0, 1)
(0, 1, 2, 3, 4)

In [45]:
a=(0,1,2,3,4)
print(a[0:2])
print(a)

(0, 1)
(0, 1, 2, 3, 4)

In [44]:
a=(0,1,2,3,4)
print(a[slice(0,2)])
print(a)

(0, 1)
(0, 1, 2, 3, 4)

In [52]:
my_slice = slice(1, 5, 2)  # start at 1, end before 5, step by 2
data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
sliced_data = data[my_slice]
print(sliced_data)

[1, 3]

In [54]:
data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
data[1:5:2]

[1, 3]

In [57]:
a=2
data = [0, 11, 12, 13, 14, 15, 16, 17,18,19]
data[a:14:1]

[12, 13, 14, 15, 16, 17, 18, 19]

In [60]:
data = [0, 11, 12, 13, 14, 15, 16, 17,18,19]
data[1:5:2]

[11, 13]

In [51]:
def get_slice(data, slice_obj):
    return data[slice_obj]

my_slice = slice(3, 7)
data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
result = get_slice(data, my_slice)  # [3, 4, 5, 6]
print(result)

[3, 4, 5, 6]

In [62]:
a=(1,2,3)
b=('A','B','C')
c=tuple(zip(a,b))
print(c)

((1, 'A'), (2, 'B'), (3, 'C'))

In [63]:
a = ('check',)
n = 2
for i in range(int(n)):
    a = (a,)
    print(a)
#The loop runs two times and each time the loop runs an extra parenthesis
#along with a comma is added to the tuple (as a=(a’)).

(('check',),)
((('check',),),)

In [64]:
import collections
a=collections.namedtuple('a',['i','j'])
obj= a(i=4,j=7)
obj
'''Named tuples are particularly useful when you need to group related data together
and want to avoid using less readable constructs like dictionaries or regular tuples. 
They provide both positional and named access to their fields.'''

a(i=4, j=7)

In [65]:
import collections
# Define the named tuple type 'Point' with fields 'x' and 'y'
Point = collections.namedtuple('Point', ['x', 'y'])
# Create instances of the named tuple
point1 = Point(x=1, y=2)
point2 = Point(x=3, y=4)
# Print the instances
print(f'Point1: ({point1.x}, {point1.y})')
print(f'Point2: ({point2.x}, {point2.y})')
# Define a function to add two points
def add_points(p1, p2):
    return Point(x=p1.x + p2.x, y=p1.y + p2.y)
# Add the two points
point3 = add_points(point1, point2)
print(f'Point3 (sum of Point1 and Point2): ({point3.x}, {point3.y})')
'''demonstrates the utility of named tuples in creating simple and readable data structures
with named fields.'''

Point1: (1, 2)
Point2: (3, 4)
Point3 (sum of Point1 and Point2): (4, 6)

In [67]:
X="hi"
print("05d"%X)
'''formatting option works only if ‘X’ is a number. 
Since in the above case ‘X’ is a string, an error is thrown.'''

TypeError: not all arguments converted during string formatting

In [70]:
X = "hi"
formatted_X = X.zfill(5)
print(formatted_X)

000hi

In [73]:
X = "hi"
formatted_X = "{:>5}".format(X)  # Right-align in a field of width 5
print(formatted_X)

   hi

In [74]:
X = "hi"
formatted_X = "{:}".format(X)  # Right-align in a field of width 0
print(formatted_X)

hi

In [75]:
X = "hi"
print(X)

hi

In [103]:
X = "san-foundry"
print('%56s' % X)

'''The formatting option print(“%Ns”,X) helps us add ‘N’ number of spaces before a given string ‘X’. Hence the output for the code snippet shown above will be
56 blank spaces before the string “san-foundry”.'''

                                             san-foundry

'The formatting option print(“%Ns”,X) helps us add ‘N’ number of spaces before a given string ‘X’. Hence the output for the code snippet shown above will be\n56 blank spaces before the string “san-foundry”.'

In [88]:
X = "san-foundry"
formatted_X = "{:>56}".format(X)
print(formatted_X)

                                             san-foundry

In [82]:
X = "san-foundry"
formatted_X = f"{X:>56}"
print(formatted_X)

                                             san-foundry

In [93]:
x=456
print("%06d"%x)
print("%-06d"%x)
'''It adds the required number of zeroes before the given number
in order to make the number of digits 6'''

000456
456

In [109]:
x="abc"
print('%7s' % x)

    abc

In [110]:
x="abc"
print('%-7s' % x)

abc

In [111]:
X = -122
print("-%06d" % X)
# - sign, 6 width

--00122

In [112]:
x =34
print("%f" % x)
# 6 decimal points

34.000000

In [113]:
x=56.236
print("%.2f" % x)

56.24

In [116]:
x=22.19
print("%5.2f"%x)
'''this expression specifies that the total number of digits (including the decimal point) should be 5,
rounded off to two decimal places.'''

22.19

In [117]:
#print("-%5d0",989)# wrong
print("%-06d"%x)

-%5d0 989

In [118]:
'%d %s %g you' %(1, 'hello', 4.0)

'1 hello 4 you'

In [125]:
'%d %s %g Same To You In Advance' %(17, 'June', 2024.0)

'''%g is a flexible format specifier in Python for formatting numbers, choosing between fixed and scientific notation based 
on the magnitude of the number.'''

'%g is a flexible format specifier in Python for formatting numbers, choosing between fixed and scientific notation based \non the magnitude of the number.'

In [126]:
'%d %s %g Same To You In Advance' % (17, 'June', 2024.0)

'17 June 2024 Same To You In Advance'

In [130]:
'There are %d %s birds.' %(4, 'blue')

'There are 4 blue birds.'

In [131]:
x=1234
res='integers:...%d...%-6d...%06d' %(x, x, x)
res

'integers:...1234...1234  ...001234'

In [132]:
x=3.3456789
'%f | %e | %g' %(x, x, x)

'3.345679 | 3.345679e+00 | 3.34568'

In [133]:
x=3.3456789
'%-6.2f | %05.2f | %+06.1f' %(x, x, x)

'3.35   | 03.35 | +003.3'

In [134]:
x=3.3456789
'%s' %x, str(x)

('3.3456789', '3.3456789')

In [135]:
'%(qty)d more %(food)s' %{'qty':1, 'food': 'spam'}

'1 more spam'

In [138]:
'%(a)d and %(b)d' %{'a':1, 'b': 2}

'1 and 2'

In [141]:
'%(a)d and %(b)s' %{'a':1, 'b': 'RAM'}

'1 and RAM'

In [143]:
a='hello'
q=10
#vars()
'''function vars() returns a dictionary containing all the variables that exist in the place'''

In [144]:
s='{0}, {1}, and {2}'
s.format('hello', 'good', 'morning')

'hello, good, and morning'

In [145]:
s='%s, %s & %s'
s%('mumbai', 'kolkata', 'delhi')

'mumbai, kolkata & delhi'

In [146]:
t = '%(a)s, %(b)s, %(c)s'
t % dict(a='hello', b='world', c='universe')

'hello, world, universe'

In [147]:
'{a}, {0}, {abc}'.format(10, a=2.5, abc=[1, 2])

'2.5, 10, [1, 2]'

In [148]:
'{0:.2f}'.format(1.234)

'1.23'

In [149]:
'%x %d' %(255, 255)

'ff 255'

In [151]:
{0:.2f}'.format(1/3.0)

SyntaxError: invalid syntax (676665815.py, line 1)

In [150]:
'%.2f'%(1/3.0)

'0.33'

In [152]:
l=list('HELLO')
'first={0[0]}, third={0[2]}'.format(l)

'first=H, third=L'

In [153]:
a = {23, 34.43, (34, 45, 56), frozenset({34, 456})}
print(a)
'''Sets cannot contain other sets because sets are mutable and not hashable.
Use frozenset if you need to include a set-like structure within another set, as frozenset
is immutable and hashable.'''

{frozenset({456, 34}), 34.43, (34, 45, 56), 23}