In [1]:
#https://www.sanfoundry.com/1000-python-questions-answers/

l=[1, 0, 2, 0, 'hello', '', []]
list(filter(bool, l))
#which do not amount to zero

[1, 2, 'hello']

In [2]:
def f(x):
    def f1(*args, **kwargs):
           print("Sanfoundry")
           return x(*args, **kwargs)
    return f1
#general decorator which can work with any number of arguments.

In [3]:
min(max(False,-3,-4), 2,7) # false 0

#Class is a user-defined data type.

False

In [4]:
x=56.236
print("%.2f"%x)

56.24

In [5]:
#https://www.youtube.com/watch?v=YaD4NkFSQt8 slice
for i in [1, 2, 3, 4][::-1]:
    print(i, end=' ')

4 3 2 1

In [7]:
"a"+"bc"

'abc'

In [ ]:
33. Which function is called when the following Python program is executed?

f = foo()
format(f)
a) str()
b) format()
c) __str__()
d) __format__()

In [10]:
#Doubt
class tester:
    def __init__(self, id):
        self.id = str(id)
        id="224"
temp = tester(12)
print(temp.id)
#Id in this case will be the attribute of the instance.

12

In [17]:
#doubt
def foo(x):
    x[0] = ['def']
    x[1] = ['abc']
    return id(x)
q = ['abc', 'def']
print(id(q) == foo(q))

#The same object is modified in the function.

True

In [18]:
z=set('abc')
z.add('san')
z.update(set(['p', 'q']))
z
#first adds the element ‘san’ to the set z. The set z is then updated and two more elements, namely, ‘p’ and ‘q’ are added to it.
#Hence the output is: {‘a’, ‘b’, ‘c’, ‘p’, ‘q’, ‘san’}

{'a', 'b', 'c', 'p', 'q', 'san'}

In [24]:
list1 = [1,2,3,4]
list2 = [2,4,5,6]
list3 = [2,6,7,8]
result = list()

print(result.extend(i for i in list1 if i not in (list2+list3) and i not in result))
print(result.extend(i for i in list2 if i not in (list1+list3) and i not in result))
print(result.extend(i for i in list3 if i not in (list1+list2) and i not in result))

'''Here, ‘result’ is a list which is extending three times. When first time ‘extend’ function 
is called for ‘result’, the inner code generates a generator object, which is further used in
‘extend’ function. This generator object contains the values which are in ‘list1’ only
(not in ‘list2’ and ‘list3’).
Same is happening in second and third call of ‘extend’ function in these generator object 
contains values only in ‘list2’ and ‘list3’ respectively.
So, ‘result’ variable will contain elements which are only in one list (not more than 1 list).
'''

None
None
None

'Here, ‘result’ is a list which is extending three times. When first time ‘extend’ function is called for ‘result’, the inner code generates a generator object, which is further used in ‘extend’ function. This generator object contains the values which are in ‘list1’ only (not in ‘list2’ and ‘list3’).\nSame is happening in second and third call of ‘extend’ function in these generator object contains values only in ‘list2’ and ‘list3’ respectively.\nSo, ‘result’ variable will contain elements which are only in one list (not more than 1 list).'

In [42]:
print('*', "abcde".center(5), '*', sep='')
print('*', "abcde".center(5), '*', sep='   ')

print('*', "abcde".center(6), '*', sep='')
print('*', "abcde".center(6), '*', sep='   ')

*abcde*
*   abcde   *
*abcde *
*   abcde    *

In [43]:
list1 = [1, 3]
list2 = list1
list1[0] = 4
print(list2)

[4, 3]

In [44]:
i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)

0
1
2

In [45]:
x = 'abcd'
for i in range(len(x)):
    print(i)

0
1
2
3

In [46]:
def addItem(listParam):
    listParam += [1]
 
mylist = [1, 2, 3, 4]
addItem(mylist)
print(len(mylist))

5

In [ ]:
'''Which of the following is a feature of Python DocString?
a) In Python all functions should have a docstring
b) Docstrings can be accessed by the __doc__ attribute on objects
c) It provides a convenient way of associating documentation with Python modules, functions, classes, and methods
d) All of the mentioned
all '''

In [50]:
print("Hello {0[0]} and {0[1]}".format(('foo', 'bin')))

Hello foo and bin

In [51]:
x = [[0], [1]]
print((' '.join(list(map(str, x))),))

('[0] [1]',)

In [55]:
def foo():
    try:
        return 1
    finally:
        return 2
k = foo()
print(k)
#The finally block is executed even there is a return statement in the try block.

2

In [57]:
def example(a):
    a = a + '2'
    a = a*2
    return a

example("hello")

'hello2hello2'

In [61]:
 print('hello-' + 'how-are-you')
print('hello' + '-' + 'how' + '-' + 'are' + 'you')

hello-how-are-you
hello-how-areyou

In [62]:
print (0.1 + 0.2 == 0.3)
#Neither of 0.1, 0.2 and 0.3 can be represented accurately in binary. The round off errors from 0.1 and 0.2 accumulate and hence there is a difference of 
#5.5511e-17 between (0.1 + 0.2) and 0.3.

False

In [69]:
print(float('56'+'78’))

SyntaxError: EOL while scanning string literal (3345731429.py, line 1)

In [68]:
print(float('12+34′))

SyntaxError: EOL while scanning string literal (3607500480.py, line 1)

In [71]:
print(round(2.5))
print(round(3.5))
print(round(0.5))
print(round(-0.5))

2
4
0
0

In [74]:
print('new' 'line')
#String literal separated by whitespace are allowed. They are concatenated.

newline

In [76]:
print('x\97\x98')
# \x is an escape sequence that means the following 2 digits are a hexadecimal number
#encoding a character.

x\97

In [77]:
print(0xA + 0xB + 0xC) # 10 11 12

33

In [78]:
number = 1234.56789
formatted_string = "Number: {:.2f}".format(number)  # Two decimal places
print(formatted_string)

Number: 1234.57

In [81]:
class father:
    def __init__(self, param):
        self.o1 = param
        
class child(father):
    def __init__(self, param):
        self.o2 = param
        
obj = child(22)
print "%d %d" % (obj.o1, obj.o2)

SyntaxError: invalid syntax (3259460070.py, line 10)

In [82]:
class tester:
    def __init__(self, id):
        self.id = str(id)
        id="224"
temp = tester(12)
print(temp.id)

12

In [83]:
max("what are you") # Max returns the character with the highest ascii value.

'y'

In [85]:
example='hello'
example.count('l')

2

In [86]:
example = "helle"
example.find("e") #return lowest index

1

In [87]:
example = "helle"
example.rfind("e") # return highest index

4

In [88]:
example="helloworld"
example[::-1].startswith("d")
#Starts with checks if the given string starts with the parameter that is passed.

True

In [92]:
s1='a'
s2='b'
s3 = s1.__add__(s2)
print(s3)
#__add__ is another method that can be used for concatenation.

ab

In [93]:
chr(ord('A'))

'A'

In [94]:
print(chr(ord('b')+1))

c

In [97]:
print('hello\\example\\test.txt')
#print(hello\example\test.txt)

hello\example\test.txt

In [98]:
s='\t\tWorld\n'
s.strip() # help(string.strip)

'World'

In [101]:
name = "Alice"
balance = 1234.567
formatted_string = "Customer: {0}, Balance: ${1:,.2f}".format(name, balance)
print(formatted_string)

Customer: Alice, Balance: $1,234.57

In [103]:
print(format("Welcome", "10s"), end = '#')
print(format(111, "4d"), end = '#')
print(format(924.656, "3.2f"))

Welcome   # 111#924.66

In [110]:
print(ord('b')-ord('a'))
#ASCII value of b is one more than a. Hence the output of this code is 98-97, which is equal to 1.

1

In [112]:
s='Hello'
s.__getitem__(3)
s.__len__()
#len(s) is a built-in function in Python to get the length of the string s, whereas s.__len__() calls the __len__ method of the string object s. It’s less common but
#functionally equivalent to len(s). So, we can use either of these.

5

In [ ]:
If a class defines the __str__(self) method, for an object obj for the class, you can use which command to invoke the __str__ method.
a) obj.__str__()
b) str(obj)
c) print obj
d) all of the mentioned all

In [116]:
s1='JollyString' 
s2='String'
print(s1.__contains__(s2))
print(s1.contains(s2)) #'str' object has no attribute 'contains'

True

AttributeError: 'str' object has no attribute 'contains'

In [124]:
i=3
j=4
i.__add__(j) # i+j 
#print(i+j)
#add(i+j) # not work name 'add' is not defined
i+j

7

In [125]:
class Count:
    def __init__(self, count = 0):
       self.__count = count
 
c1 = Count(2)
c2 = Count(2)
print(id(c1) == id(c2), end = " ")
 
s1 = "Good"
s2 = "Good"
print(id(s1) == id(s2))
#Execute in the shell objects cannot have same id, however in the case of strings its different.

False True

In [126]:
class Name:
    def __init__(self, firstName, mi, lastName):
        self.firstName = firstName
        self.mi = mi
        self.lastName = lastName
        
firstName = "John"
name = Name(firstName, 'F', "Smith")
firstName = "Peter"
name.lastName = "Pan"
print(name.firstName, name.lastName)

John Pan

In [127]:
x = 345.3546
formatted_string = format(x, "10.3f") # total width should be 10
print(formatted_string)

   345.355

In [130]:
print("abcdef".center(0)) # atleast one parmeter needed

abcdef

In [131]:
print('*', "abcdef".center(7), '*') #Padding is done towards the left-hand-side first
#when the final string is of odd length. Extra spaces are present since
#we haven’t overridden the value of sep.

*  abcdef *

In [133]:
print('*', "abcdef".center(7), '*', sep='')

*  abcdef *

In [134]:
print('*', "abcde".center(6), '*', sep='') # Padding is done towards the right-hand-side first when the final string is of even length.

*abcde *

In [135]:
print("abcdef".center(7, 1))

TypeError: The fill character must be a unicode character, not int

In [140]:
print("abcdef".center(7, '1'))

1abcdef

In [141]:
print("abcdef".center(10, '1'))

11abcdef11

In [142]:
print("abcdef".center(10, '12'))

TypeError: The fill character must be exactly one character long

In [ ]:
print("xyyzxyzxzxyy".count('yy', 1)) #Counts the number of times the substring ‘yy’ is present in the given string,
#starting from position 1.

In [143]:
print("xyyzxyzxzxyy".count('xyy', 0, 100))# An error will not occur if the end value
#is greater than the length of the string itself.

2

In [144]:
print("xyyzxyzxzxyy".count('xyy', 2, 11))#Counts the number of times the substring ‘xyy’ is present in the given string, starting from position 2 and
#ending at position 11.

0

In [145]:
print("xyyzxyzxzxyy".count('xyy', -10, -1))

0

In [146]:
print('abc'.encode()) # A bytes object is returned by encode.

b'abc'

In [149]:
print("xyyzxyzxzxyy".endswith("xyy"))

True

In [150]:
print("xyyzxyzxzxyy".endswith("xyy", 0, 2))#The function returns False if the given string does not end with the specified substring.

False

In [151]:
print("ab\tcd\tef".expandtabs()) #Each \t is converted to 8 blank spaces by default.

ab      cd      ef

In [152]:
print("ab\tcd\tef".expandtabs(4))

ab  cd  ef

In [153]:
print("ab\tcd\tef".expandtabs('+')) # integer should be passed

TypeError: an integer is required (got type str)

In [154]:
print("abcdef".find("cd") == "cd" in "abcdef") # find() returns the position of the sunstring in the given string whereas the in keyword returns a value of
#Boolean type.

False

In [158]:
print("abcdef".find("cd"))

2

In [159]:
print("Hello {} and {}".format('foo', 'bin'))

Hello foo and bin

In [161]:
print("Hello {name1} and {name2}".format('foo', 'bin'))#The arguments passed to the function format 
#aren’t keyword arguments

KeyError: 'name1'

In [162]:
print("Hello {name1} and {name2}".format(name1='foo', name2='bin')) #The arguments are
#accessed by their names.

Hello foo and bin

In [163]:
print("Hello {0!r} and {0!s}".format('foo', 'bin'))

'''{0} refers to the first argument ('foo').
{0!r} uses repr('foo'), which results in the string "'foo'" (including the quotes).
{0!s} uses str('foo'), which results in the string "foo" (without the quotes).'''

Hello 'foo' and foo

In [164]:
print("Hello {0} and {1}".format(('foo', 'bin')))

IndexError: Replacement index 1 out of range for positional args tuple

In [166]:
print("Hello {0} and {1}".format(*('foo', 'bin')))

Hello foo and bin

In [165]:
print("Hello {0[0]} and {0[1]}".format(('foo', 'bin'))) 
#The elements of the tuple are accessed by their indices.

Hello foo and bin

In [167]:
print('The sum of {0} and {1} is {2}'.format(2, 10, 12))
#The arguments passed to the function format can be integers also.

The sum of 2 and 10 is 12

In [168]:
print('The sum of {0:b} and {1:x} is {2:o}'.format(2, 10, 12))
#Explanation: 2 is converted to binary, 10 to hexadecimal and 12 to octal.

The sum of 10 and a is 14

In [169]:
print('{:,}'.format(1112223334))
#A comma is added after every third digit from the right

1,112,223,334

In [170]:
print('{:,}'.format('1112223334'))
#An integer is expected.

ValueError: Cannot specify ',' with 's'.

In [171]:
print('{:$}'.format(1112223334))
#$ is an invalid format code.

ValueError: Unknown format code '$' for object of type 'int'

In [172]:
print('{:#}'.format(1112223334))

1112223334

In [173]:
print('{0:.2}'.format(1/3))
# .2 specifies the precision

0.33

In [174]:
print('{0:.2%}'.format(1/3))
#The symbol % is used to represent the result of an expression as a percentage.

33.33%

In [175]:
print('my_string'.isidentifier())

True

In [176]:
print('__foo__'.isidentifier())

True

In [182]:
print('for'.isidentifier())
#Even keywords are considered as valid identifiers.

True

In [183]:
print('abc'.islower())

True

In [184]:
print('a@ 1,'.islower())

True

In [186]:
print('1.1'.isnumeric())

False

In [187]:
print('1@ a'.isprintable())

True

In [188]:
print(''''''.isspace())

False

In [189]:
print('\t'.isspace())
#Tab Spaces are considered as spaces.

True

In [190]:
print('HelloWorld'.istitle())

False

In [191]:
print('Hello World'.istitle())

True

In [192]:
print('''
 \tfoo'''.lstrip())

foo

In [193]:
print('xyyzxxyxyy'.lstrip('xyy'))

zxxyxyy

In [194]:
print('xyxxyyzxxy'.lstrip('xyy'))

zxxy

In [195]:
print('cba'.maketrans('abc', '123'))
#A translation table is returned by maketrans.
#The character 'a' from the first string is mapped to '1' from the second string.
#97: 49 means that the character with Unicode code point 97 (which is 'a') is mapped to the character with Unicode code
#point 49 (which is '1').

{97: 49, 98: 50, 99: 51}

In [196]:
print('a'.maketrans('ABC', '123'))
#maketrans() is a static method so it’s behaviour does not depend on the object from which it is being called.

{65: 49, 66: 50, 67: 51}

In [197]:
print('abcdef'.partition('cd'))
#The string is split into three parts by partition

('ab', 'cd', 'ef')

In [198]:
print('abcdefcdgh'.partition('cd'))

('ab', 'cd', 'efcdgh')

In [199]:
print('abcd'.partition('cd'))
#The last item is a null string.

('ab', 'cd', '')

In [ ]:
print('cd'.partition('cd'))
#The entire string has been passed as the separator hence the first
#and the last item of the tuple returned are null strings.

In [200]:
print('abef'.partition('cd'))
#The separator is not present in the string hence the second and the third elements of
#the tuple are null strings.

('abef', '', '')

In [203]:
print('xyyxyyxyxyxxy'.replace('xy', '12', 1))
print('xyyxyyxyxyxxy'.replace('xy', '12', 0))

12yxyyxyxyxxy
xyyxyyxyxyxxy

In [204]:
print('xyyxyyxyxyxxy'.replace('xy', '12', 100))
#The first 100 occurrences of the given substring are replaced.

12y12y1212x12

In [205]:
print('abcdefcdghcd'.split('cd'))
#The given string is split and a list of substrings is returned.

['ab', 'ef', 'gh', '']

In [210]:
print('abcdefcdghcd'.split('cd', 0))
#The given string is split at 0 occurances of the specified substring.
print('abcdefcdghcd'.split('cd', 1))
print('abcdefcdghcd'.split('cd', 2))
#he string is split into a maximum of maxsplit+1 substrings.

['abcdefcdghcd']
['ab', 'efcdghcd']
['ab', 'ef', 'ghcd']

In [208]:
print('abcdefcdghcd'.split('cd', -1))
#Calling the function with a negative value for maxsplit is the same as calling it without any maxsplit specified. The string will be split
#into as many substring s as possible.

['ab', 'ef', 'gh', '']

In [212]:
print('ab\ncd\nef'.splitlines())
# It is similar to calling split(‘\n’)

['ab', 'cd', 'ef']

In [213]:
print('Ab!2'.swapcase())
#Lowercase letters are converted to uppercase and vice-versa.

aB!2

In [214]:
#DOUBT
print('abcd'.translate('a'.maketrans('abc', 'bcd')))
#The output is bcdd since no translation is provided for d

bcdd

In [215]:
print('abcd'.translate({97: 98, 98: 99, 99: 100})) # B IN C

bcdd

In [216]:
print('abcd'.translate({'a': '1', 'b': '2', 'c': '3', 'd': '4'}))
#The function translate expects a dictionary of integers. Use maketrans() instead of doing the above.

abcd

In [217]:
print('abcd'.maketrans({'a': '1', 'b': '2', 'c': '3', 'd': '4'}))

{97: '1', 98: '2', 99: '3', 100: '4'}

In [218]:
print('ab'.zfill(5))
#The string is padded with zeros on the left hand side. It is useful for formatting numbers.

000ab

In [219]:
print('+99'.zfill(5))
#zeros are filled in between the first sign and the rest of the string.

+0099