In [11]:
 list1 = list()

In [17]:
list1=[1,2,3]
random.shuffle(list1)

NameError: name 'random' is not defined

In [18]:
l=[4, 2, 2, 4, 5, 2, 1, 0]
print(l[:-2])

[4, 2, 2, 4, 5, 2]

In [19]:
names = ['Amir', 'Bear', 'Charlton', 'Daman']
print(names[-1][-1])

n

In [22]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
 
names2[0] = 'Alice'
names3[1] = 'Bob'
 
sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
        
print (sum)

12

In [25]:
list1 = [0.5 * x for x in range(0, 4)]
list1

[0.0, 0.5, 1.0, 1.5]

In [26]:
def f(i, values = []):
    values.append(i)
    return values
 
f(1)
f(2)
v = f(3)
print(v)

[1, 2, 3]

In [27]:
m = [[x, x + 1, x + 2] for x in range(0, 3)]
m

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [29]:
m = [[x, y] for x in range(0, 4) for y in range(0, 4)]
m

[[0, 0],
 [0, 1],
 [0, 2],
 [0, 3],
 [1, 0],
 [1, 1],
 [1, 2],
 [1, 3],
 [2, 0],
 [2, 1],
 [2, 2],
 [2, 3],
 [3, 0],
 [3, 1],
 [3, 2],
 [3, 3]]

In [30]:
#net
values = [[3, 4, 5, 1], [33, 6, 1, 2]]
 
v = values[0][0]
for row in range(0, len(values)): ##2 stop
    for column in range(0, len(values[row])): #2 0,1
        if v < values[row][column]: # 3 <2,2 ()
            v = values[row][column]
print(v)

33

In [31]:
values = [[3, 4, 5, 1], [33, 6, 1, 2]]
 
v = values[0][0]
for lst in values:
    for element in lst:
        if v > element: #3>1 
            v = element # 1 to v
print(v)

1

In [32]:
values = [[3, 4, 5, 1], [33, 6, 1, 2]]
values[0][0]

3

In [33]:
#doubt
values = [[3, 4, 5, 1 ], [33, 6, 1, 2]]
 
for row in values:
    row.sort()
    for element in row:
        print(element, end = " ")
    print()

1 3 4 5
1 2 6 33

In [43]:
values = [[3, 4, 5, 1 ], [33, 6, 1, 2]]
values.sort()

In [44]:
matrix = [[1, 2, 3, 4],
       [4, 5, 6, 7],
       [8, 9, 10, 11],
       [12, 13, 14, 15]]
 
for i in range(0, 4):
    print(matrix[i][1], end = " ")

2 5 9 13

In [45]:
def m(list):
    v = list[0]
    for e in list:
      if v < e: v = e
    return v
 
values = [[3, 4, 5, 1], [33, 6, 1, 2]]
 
for row in values: 
    print(m(row), end = " ")

5 33

In [ ]:
a=[14,52,7]
b=a.copy()
b is a
# List b is just a copy of the original list. Any copy made in list b will
#not be reflected in list a.

In [46]:
a=[13,56,17]
a.append([87])
a.extend([45,67])
print(a)

[13, 56, 17, [87], 45, 67]

In [47]:
a=list((45,)*4)
print((45)*4)
print(a)
#(45) is an int while (45,) is a tuple of one element. Thus when a tuple is multiplied, it created references
#of itself which is later converted to a list.

180
[45, 45, 45, 45]

In [51]:
#doubt
lst=[[1,2],[3,4]]
print(sum(lst,[]))

TypeError: 'int' object is not callable

In [52]:
word1="Apple"
word2="Apple"
list1=[1,2,3]
list2=[1,2,3]
print(word1 is word2)
print(list1 is list2)

True
False

In [53]:
def unpack(a,b,c,d):
    print(a+d)
x = [1,2,3,4]
unpack(*x)

5

In [55]:
#https://www.sanfoundry.com/python-questions-answers-lists-7/
places = ['Bangalore', 'Mumbai', 'Delhi']
<br class="blank" />places1 = places
places2 = places[:]
<br class="blank" />places1[1]="Pune"
places2[2]="Hyderabad"
print(places)
#places1 is an alias of the list places. Hence, any change made to places1 is reflected in places. places2 is a copy of the list places. Thus,
#any change made to places2 isn’t reflected in places.

['Bangalore', 'Mumbai', 'Delhi']

In [56]:
x=[[1],[2]]
print(" ".join(list(map(str,x))))
#The elements 1 and 2 are first put into separate lists and then 
#combined with a space in between using the join attribute.

[1] [2]

In [59]:
a=165
b=sum(list(map(int,str(a))))
print(b)
#first, map converts the number to string and then places the individual digits in a list. Then, sum finds the sum of the digits in the list.
#The code basically finds the sum of digits in the number.

TypeError: map() must have at least two arguments.

In [60]:
a= [1, 2, 3, 4, 5]
for i in range(1, 5):
    a[i-1] = a[i]
for i in range(0, 5): 
    print(a[i],end = " ")
    #The items having indexes from 1 to 4 are shifted forward by one index due to the first for-loop 
    #and the item of index four is printed again because of the second for-loop.

2 3 4 5 5

In [61]:
def change(var, lst):
    var = 1
    lst[0] = 44
k = 3
a = [1, 2, 3]
change(k, a)
print(k)
print(a)

3
[44, 2, 3]

In [62]:
#doubt
a = [1, 5, 7, 9, 9, 1]
b=a[0]
x= 0
for x in range(1, len(a)): # 1,6
    if a[x] > b: # 1> 1
        b = a[x]
        b= x
print(b)
#The above piece of code basically prints the index of the largest element in the list.

4

In [64]:
a=["Apple","Ball","Cobra"]
a.sort(key=len)
print(a)

['Ball', 'Apple', 'Cobra']

In [65]:
num = ['One', 'Two', 'Three']
for i, x in enumerate(num):
    print('{}: {}'.format(i, x),end=" ")

0: One 1: Two 2: Three

In [ ]:
#https://www.sanfoundry.com/python-questions-answers-lists-6/